/* Ticket Labelled dropdowns */

.dropdown-menu {
    margin-top: 0;
    border-radius: var(--box-radius);
    border:0px;
    box-shadow: var(--regular-shadow);
    background:var(--secondary-background);
}

.dropdown-menu > li > a {
    font-size: var(--base-font-size);
    color:var(--primary-font-color);
    margin: 0 5px;
    padding: 5px 10px;
}



.maincontentinner .viewDropDown .dropdown-menu > li > a:hover .muted,
body .maincontentinner .viewDropDown .dropdown-menu li a.active,
.dropdown-menu > li > a.active,
.dropdown ul li.active a{
    color: var(--dropdown-link-hover-color);
    background:var(--dropdown-link-hover-bg);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: var(--dropdown-link-hover-color);
    background:var(--dropdown-link-hover-bg);
}


.dropdown .dropdown-menu .nav-header {
    padding-left: 10px;
    padding-right: 10px;
}

.ticketDropdown.show {
    display:inline-block;
}

.ticketDropdown {
    font-size:var(--font-size-s);
}

.ticketDropdown ul,
.ticketDropdown ul li a{
    top: 22px;
    font-size:var(--font-size-s);
}

.ticketDropdown.userDropdown {
    margin-top:-2px;
}

.ticketDropdown.userDropdown ul {
    top: 33px;
    left: 6px;
}

.dropRight ul,
.ticketDropdown.userDropdown.dropRight ul{
    right:0px;
    left:auto;
}

.maincontentinner .ticketDropdown > a,
.maincontentinner .ticketDropdown > a:link,
.nyroModalCont .ticketDropdown > a,
.nyroModalCont .ticketDropdown > a:link{
    color:#fff;
    padding:0px 10px;
    white-space: nowrap;
    border-radius:10px;
    margin-left:0px;
}

.maincontentinner .ticketDropdown.firstDropdown > a {
    margin-left:0px;
}

.maincontentinner .ticketDropdown.lastDropdown > a {
    padding-right:0px;
}

.maincontentinner .ticketDropdown > a:hover,
.maincontentinner .ticketDropdown > a:focus {
    text-decoration: none;
}


.maincontentinner .ticketDropdown.colorized li a,
.nyroModalCont .ticketDropdown.colorized li a{
    color:#fff;
}

.maincontentinner .ticketDropdown.noBg {
    background:transparent;

}

.maincontentinner .ticketDropdown.noBg >a img {

}

.maincontentinner .dropdown img {
    width:21px;
    border-radius: 10px;
    border: 1px solid var(--neutral);
    margin-top:1px;
}


.maincontentinner .ticketDropdown.noBg >a:hover {
    color:#000;
}



.maincontentinner .ticketDropdown ul li a.label-warning,
.maincontentinner .ticketDropdown ul li a.label-important,
.maincontentinner .ticketDropdown ul li a.label-success,
.maincontentinner .ticketDropdown ul li a.label-default,
.maincontentinner .ticketDropdown ul li a.label-info,
.nyroModalCont .ticketDropdown ul li a.label-warning,
.nyroModalCont .ticketDropdown ul li a.label-important,
.nyroModalCont .ticketDropdown ul li a.label-success,
.nyroModalCont .ticketDropdown ul li a.label-default,
.nyroModalCont .ticketDropdown ul li a.label-info{
    padding: 5px 10px;
    display:block;
    border-radius: 0px;
}

.maincontentinner .ticketDropdown a.label-warning,
.nyroModalCont .ticketDropdown a.label-warning{
    background:#f89406;
}

.maincontentinner .ticketDropdown a.label-info,
.nyroModalCont .ticketDropdown a.label-info{
    background:#2d6987;
}

.maincontentinner .ticketDropdown a.label-important,
.maincontentinner .ticketDropdown a.label-danger,
.nyroModalCont .ticketDropdown a.label-important,
.nyroModalCont .ticketDropdown a.label-danger{
    background:#b94a48;
}

.maincontentinner .ticketDropdown a.label-success,
.nyroModalCont .ticketDropdown a.label-success{
    background:#468847;
}

.maincontentinner .ticketDropdown a.label-default,
.nyroModalCont .ticketDropdown a.label-default{

}


.maincontentinner .ticketDropdown ul li {
    margin-bottom:1px;
}

.maincontentinner .ticketDropdown.milestoneDropdown li a:hover{
    background-color:#444 !important;
}


.ticketDropdown ul::after {
    position: absolute;
    top:-6px;
    left: 10px;
    transform: rotate(0deg);
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    border-left: 7px solid transparent;
    content: '';
}

.ticketDropdown.dropRight  ul::after {
    right: 10px;
    left:auto;
}

.viewDropDown .dropdown-menu {
    right:0px;
    left:auto;
}

.viewDropDown .dropdown-menu li a.active{

}

.viewDropDown .dropdown-menu li a.active:hover {
    color:#fff;
}

.dropdown-menu span.radio input[type="radio"] {
    float:left;
    vertical-align: middle;
    margin-top: 9px;
    margin-right:5px;
}

.dropdown-menu span.radio {
    display:block;
    font-size: 12px;
    color: var(--main-menu-link-color);
    margin: 0 5px;
    padding: 5px 10px;
}

.dropdown-menu span.radio:hover {
    color: var(--dropdown-link-hover-color);
    background:var(--dropdown-link-hover-bg);
}

.dropdown-menu span.radio label {
    display:inline-block;
    width:100%;
}

.wikiSelect {
    margin-bottom:5px;
}

.dropdown-menu.iconpicker-container,
.iconpicker-popover.popover {
    width:215px;
    min-width:215px;
}

.iconpicker-popover .popover-title {
    display:none;
}

.btn-group .btn.titleIconPicker {
    font-size: var(--font-size-xl);
    line-height: 21px;
    padding: 5px 6px;
    color: var(--primary-font-color);
    background-color: var(--secondary-background);
    border: 1px solid var(--secondary-background);
    border-radius: 3px;
}

.btn-group .btn.titleIconPicker:hover {
    border: 1px solid var(--main-border-color);
}

.btn-group .btn.titleIconPicker .caret,
.btn-group .btn.titleIconPicker .caret,
.btn-group .btn.titleIconPicker:last-child .caret,
.btn-group >.btn.titleIconPicker.dropdown-toggle .caret {
    border-top-color: var(--primary-font-color);
}

.btn-group .btn.titleIconPicker:hover .caret,
.btn-group .btn.titleIconPicker:hover .caret,
.btn-group .btn.titleIconPicker:last-child:hover .caret,
.btn-group >.btn.titleIconPicker.dropdown-toggle:hover .caret {
    border-top-color: var(--secondary-action-hover-color);
}

.inlineDropDownContainerLeft {
    float:left;
    display:inline-block;
}