:root {

    --accent1: #1b75bb;
    --accent1-hover: #555;
    --accent1-color:#fff;

    --accent2: #1b75bb;
    --accent2-hover: #555;
    --accent2-color:#fff;

    /* --primary-background: #22272e;
    --secondary-background: #373e47;

#051825 blue-dark
#2C2C36 - grey-dark

     */

    --primary-background: #fff;
    --secondary-background: #fff;


    --primary-font-color: #555;
    --secondary-font-color: #555;

    --neutral:#ccc;

    --col-title-bg: #1b75bb;
    --col-content-bg: #f7f7f7;
    --col-hover-bg: #222222;

    --kanban-col-bg: #f0f0f0;
    --kanban-col-title-bg:  #1b75bb;
    --kanban-col-title-color:#fff;
    --kanban-card-bg: #fff;
    --kanban-card-hover: #f2f2f2;



    --primary-color: var(--accent1);
    --secondary-color: var(--accent2);

    --main-bg: #f2f2f2;
    --left-panel-bg: #282828;
    --content-bg: #fff;

    --main-action-bg: #1b75bb;
    --main-action-color: #fff;
    --main-action-hover-bg: #555;
    --main-action-hover-color: #fff;

    --secondary-action-bg: #eeeeee;
    --secondary-action-color: #333;
    --secondary-action-hover-bg: #555;
    --secondary-action-hover-color: #fff;

    --main-menu-link-bg: #333;
    --main-menu-link-color: #bbb;

    --main-menu-link-hover-bg: #1b75bb;
    --main-menu-link-hover-color: #fff;

    --main-menu-link-active-bg:  #1b75bb;
    --main-menu-link-active-color: #fff;

    --main-menu-border-color:#333333;

    --project-selector-bg: #282828;
    --project-selector-color: #bbb;
    --project-selector-hover-bg: #333333;
    --project-selector-hover-color: #bbb;

    --dropdown-link-bg:#333;
    --dropdown-link-color: #bbb;
    --dropdown-link-hover-bg: #333333;
    --dropdown-link-hover-color: #bbb;

    --header-action-hover-color:var(--neutral);
    --header-bg-color:var(--primary-color);
    --header-gradient:linear-gradient(90deg, var(--accent1) 0%,var(--accent1) 80%);

    --primary-font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
    --base-font-size: 14px;
    --font-size-xs: 10px;
    --font-size-s:12px;
    --font-size-l: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 22px;
    --font-size-xxxl: 26px;

    --main-border-color:#ccc;
    --regular-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
    --large-shadow: 0px 0px 8px 0 rgba(0 0 0 / 15%);
    --box-radius: 0px;
    --box-radius-small:0px;
    --element-radius: 0px;

    /* Status Colors */

    --dark-red:#D61B0A;
    --dark-red-text-color:#fff;

    --red: #F76C5E;
    --red-text-color: #fff;

    --green: #32965D;
    --green-text-color: #fff;

    --dark-green: #1F5C39;
    --dark-green-text-color:#fff;

    --yellow: #FDB833;
    --yellow-text-color: #fff;

    --blue: #1B75BB;
    --blue-text-color: #fff;

    --dark-blue:#124F7D;
    --dark-blue-text-color: #fff;

    --darker-blue:#082236;
    --darker-blue-text-color: #fff;

    --purple:#5F0F40;
    --purple-text-color:#fff;

    --pink: #F26CA7;
    --pink-text-color:#fff;

    --brown: #4C212A;
    --brown-text-color: #fff;

    --grey: #b0b0b0;
    --grey-text-color:#fff;

    --dark-grey: #707070;
    --dark-grey-text-color: #fff;

}

.tab-primary.ui-tabs .ui-tabs-nav {
    background: #1b75bb;
}

.nyroModalCont .tab-primary.ui-tabs .ui-tabs-nav li a,
body .maincontentinner .tab-primary.ui-tabs .ui-tabs-nav li a {
    background: transparent;
}

.tab-primary.ui-tabs .ui-tabs-nav > li a {
    color:#fff;
}

.nyroModalCont .tab-primary.ui-tabs .ui-tabs-nav li,
.maincontentinner .tab-primary.ui-tabs .ui-tabs-nav li{
    border-color:var(--neutral)
}

body .tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    background:var(--secondary-background) !important;
}

.tox .tox-tbtn svg {
    fill:var(--primary-font-color) !important;
}


.tox .tox-tbtn:hover,
.tox .tox-tbtn--enabled, .tox .tox-tbtn--enabled:hover,
.tox .tox-menu{
    background: var(--primary-background) !important;
}

.tox-tinymce,
.tox .tox-menu{
    border-color:var(--neutral) !important;
}

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type),
.chzn-container .chzn-drop{
    border-color:var(--neutral) !important;
}

.mce-content-body,
.tox .tox-tbtn,
.tox .tox-collection__item,
.tox .tox-statusbar,
.tox .tox-statusbar a, .tox .tox-statusbar__path-item, .tox .tox-statusbar__wordcount{
    color:var(--primary-font-color) !important;
}

.tox .tox-split-button:hover {
    box-shadow: 0 0 0 1px var(--neutral) inset !important;
}

.mce-content-body,
.tox .tox-statusbar,
.tox .tox-collection--list .tox-collection__item--active:not(.tox-collection__item--state-disabled),
.chzn-container .chzn-drop,
.progress{
    background: var(--secondary-background) !important;
}

.tox-collection__item-label > * {
    background: transparent !important;
}

.tox .tox-statusbar {
    border-top:1px solid var(--neutral) !important;
}

body .chzn-container-single .chzn-single {
    color:var(--primary-font-color);
    background-color: var(--secondary-background);
    border: 1px solid var(--main-border-color);
}

body .chzn-container-active .chzn-single-with-drop {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.ticketDropdown ul::after {
    border-bottom: 7px solid var(--secondary-background);
}

.maincontentinner .table th, .maincontentinner .table.table-bordered th, .maincontentinner .table tr.dtrg-group td {
    border-color:var(--neutral);
}

.ui-datepicker-calendar td {
    background:var(--secondary-background) !important;
}

.ui-datepicker-calendar td {
    border-left: 1px solid var(--neutral) !important;
    border-top: 1px solid var(--neutral) !important;

}

.ui-datepicker-calendar td a {
    color:var(--primary-font-color) !important;
}

.ui-datepicker-calendar td a:hover {
    background:var(--primary-background) !important;
}

.ui-datepicker-calendar thead th,
.ui-datepicker-calendar{
    background:var(--col-title-bg) !important;
    color:var(--primary-font-color) !important;
}

.ui-datepicker-calendar thead th {
    border-color:var(--neutral) !important;
}

body .gantt .grid-header {
    fill: var(--col-title-bg) !important;
    stroke: var(--neutral);
    stroke-width: 1.4;
}

body .gantt .grid-row {
    fill: var(--col-content-bg);
}

body .gantt .grid-row:nth-child(even) {
    fill: var(--col-hover-bg);
}


body .gantt .row-line {
    stroke: var(--neutral);
}

body .gantt .lower-text {
    color:var(--primary-font-color) !important;
    fill: var(--primary-font-color);
}

body .gantt .tick {
    stroke: var(--primary-font-color) !important;
    stroke-width: 0.2;
}

body .gantt #details .details-container {
    background: var(--primary-background);
    display: inline-block;
    padding: 12px;
}

body .gantt #details .details-container p {
    color:var(--primary-font-color);
}

body .gantt .bar-label.big {
    color:var(--primary-font-color);
    fill: var(--primary-font-color);
}

body .fc-widget-header,
body .fc-widget-content {
    border-color:var(--neutral);
}

body .fc-content {
    background:var(--col-content-bg);
}

body .fc-state-highlight {
    background:var(--col-hover-bg);
}

body .fc-state-down,
body .fc-state-active,
body .fc-state-default,
body  .fc-header .fc-button-prev,
body .fc-header .fc-button-next,
body .fc-header .fc-button-today
{
    background:var(--accent2);
    color:var(--accent2-color);
}

body .fc-state-active {
    background:var(--accent2-hover);
}

body .modal {
    background:var(--secondary-background);
    border: 1px solid var(--neutral);
}

body .modal-header {
    border-color:var(--neutral);
}

body .modal-footer {
    background:var(--secondary-background);
    border-color:var(--neutral);
    box-shadow:none;
}

body .row .regLeft {
    /*background: linear-gradient(45deg, var(--accent1) 20%,var(--accent2) 100%);*/
    background: #1b75bb;
}

body .regpanelinner .pageheader .pagetitle h1,
body .regpanelinner .pageheader .pageicon {
    color:var(--primary-font-color);
}

body input[disabled],
body select[disabled],
body textarea[disabled],
body input[readonly],
body select[readonly],
body textarea[readonly] {
    cursor: not-allowed;
    background-color: var(--secondary-background);
}

body .userloggedinfo .dropdown-menu::after {
    border-bottom: 6px solid var(--secondary-background);
}

body .ticketDropdown ul::after {
    border-bottom: 7px solid var(--secondary-background);
}

.ss-main .ss-single-selected, .ss-content {
    background-color: var(--secondary-background) !important;
    color:var(--primary-font-color) !important;
    border: 1px solid var(--main-border-color) !important;
}

.ss-content .ss-list .ss-option.ss-disabled {
    background-color: var(--secondary-background) !important;
    color:darkgrey !important;
}

.ss-content .ss-search input::placeholder, .ss-content .ss-search input {
    background-color: var(--primary-background) !important;
    color:var(--primary-font-color) !important;
}

.ss-content .ss-search input::placeholder, .ss-content .ss-search input {
    border: 1px solid var(--main-border-color) !important;
}

.ss-option:hover {
	color: white;
	background-color: var(--accent1) !important;
}


.pageheader {
    background:#fff;
    border-bottom:1px solid #dddddd;
    padding-bottom:20px;
}

.pagetitle h1 {
    color:#1b75bb;
}

.pageicon {
    color:#1b75bb;
    border-color:#1b75bb;
}

.maincontent {
    margin-top:0px;
    background:url(../images/bg1.png);
}

.maincontentinner {
    background:transparent;
    padding:0px;
}

.widgettitle {
    border-color:#1b75bb !important;
}

.leftmenu .nav-tabs.nav-stacked .dropdown ul li.active a {
    border-left-color:#1b75bb;
}

.ui-tabs-panel {
    background: var(--secondary-background);
    padding:15px;
    border:1px solid #1b75bb;
}

body .btn-default, body .btn, body a.btn, input.btn, button.btn, body input[type='submit'].btn-default, .btn-group .btn, .btn-group>.btn:last-child, .btn-group>.dropdown-toggle, a.btn-default, .btn-default:link {
    border:1px solid #ccc;
}

.tab-primary.ui-tabs .ui-tabs-nav {
    border-bottom:0px;
}

.nyroModalCont .tab-primary.ui-tabs .ui-tabs-nav li, .maincontentinner .tab-primary.ui-tabs .ui-tabs-nav li {
  border-bottom:2px solid #fff;
}

.tab-primary.ui-tabs .ui-tabs-nav > li a {
    border:0px !important;
    line-height:40px;
}

body .tab-primary.ui-tabs .ui-tabs-nav li.ui-state-active a {
    background:#fff;
    color:#1b75bb;
}

.sortableTicketList li:hover,
.sortableTicketList li:hover .ticketBox{
    background:var(--kanban-card-hover);
}
