body.colorScheme-grayscale1.colorMode-light,
body.colorScheme-grayscale1.colorMode-light h2,
body.colorScheme-grayscale1.colorMode-light h3,
body.colorScheme-grayscale1.colorMode-light h4,
body.colorScheme-grayscale1.colorMode-light h5,
body.colorScheme-grayscale1.colorMode-light h6,
body.colorScheme-grayscale1.colorMode-light p,
body.colorScheme-grayscale1.colorMode-light td,
body.colorScheme-grayscale1.colorMode-light th,
body.colorScheme-grayscale1.colorMode-light label,
body.colorScheme-grayscale1.colorMode-light select,
body.colorScheme-grayscale1.colorMode-light textarea,
body.colorScheme-grayscale1.colorMode-light .selectableContent {
    color: black !important;
}

body.colorScheme-grayscale1.colorMode-dark,
body.colorScheme-grayscale1.colorMode-dark h1,
body.colorScheme-grayscale1.colorMode-dark h2,
body.colorScheme-grayscale1.colorMode-dark h3,
body.colorScheme-grayscale1.colorMode-dark h4,
body.colorScheme-grayscale1.colorMode-dark h5,
body.colorScheme-grayscale1.colorMode-dark h6,
body.colorScheme-grayscale1.colorMode-dark p,
body.colorScheme-grayscale1.colorMode-dark span,
body.colorScheme-grayscale1.colorMode-dark td,
body.colorScheme-grayscale1.colorMode-dark th,
body.colorScheme-grayscale1.colorMode-dark label,
body.colorScheme-grayscale1.colorMode-dark a,
body.colorScheme-grayscale1.colorMode-dark li,
body.colorScheme-grayscale1.colorMode-dark input,
body.colorScheme-grayscale1.colorMode-dark select,
body.colorScheme-grayscale1.colorMode-dark textarea,
body.colorScheme-grayscale1.colorMode-dark button,
body.colorScheme-grayscale1.colorMode-dark .selectableContent {
    color: white !important;
}

body.colorScheme-grayscale2.colorMode-light,
body.colorScheme-grayscale2.colorMode-light h1,
body.colorScheme-grayscale2.colorMode-light h2,
body.colorScheme-grayscale2.colorMode-light h3,
body.colorScheme-grayscale2.colorMode-light h4,
body.colorScheme-grayscale2.colorMode-light h5,
body.colorScheme-grayscale2.colorMode-light h6,
body.colorScheme-grayscale2.colorMode-light p,
body.colorScheme-grayscale2.colorMode-light span,
body.colorScheme-grayscale2.colorMode-light td,
body.colorScheme-grayscale2.colorMode-light th,
body.colorScheme-grayscale2.colorMode-light label,
body.colorScheme-grayscale2.colorMode-light a,
body.colorScheme-grayscale2.colorMode-light li,
body.colorScheme-grayscale2.colorMode-light input,
body.colorScheme-grayscale2.colorMode-light select,
body.colorScheme-grayscale2.colorMode-light textarea,
body.colorScheme-grayscale2.colorMode-light button,
body.colorScheme-grayscale2.colorMode-light .selectableContent {
    color: black !important;
}

body.colorScheme-grayscale2.colorMode-dark,
body.colorScheme-grayscale2.colorMode-dark h1,
body.colorScheme-grayscale2.colorMode-dark h2,
body.colorScheme-grayscale2.colorMode-dark h3,
body.colorScheme-grayscale2.colorMode-dark h4,
body.colorScheme-grayscale2.colorMode-dark h5,
body.colorScheme-grayscale2.colorMode-dark h6,
body.colorScheme-grayscale2.colorMode-dark p,
body.colorScheme-grayscale2.colorMode-dark span,
body.colorScheme-grayscale2.colorMode-dark td,
body.colorScheme-grayscale2.colorMode-dark th,
body.colorScheme-grayscale2.colorMode-dark label,
body.colorScheme-grayscale2.colorMode-dark a,
body.colorScheme-grayscale2.colorMode-dark li,
body.colorScheme-grayscale2.colorMode-dark input,
body.colorScheme-grayscale2.colorMode-dark select,
body.colorScheme-grayscale2.colorMode-dark textarea,
body.colorScheme-grayscale2.colorMode-dark button,
body.colorScheme-grayscale2.colorMode-dark .selectableContent {
    color: white !important;
}

body.colorScheme-themeDefault.colorMode-light,
body.colorScheme-themeDefault.colorMode-light h2,
body.colorScheme-themeDefault.colorMode-light h3,
body.colorScheme-themeDefault.colorMode-light h4,
body.colorScheme-themeDefault.colorMode-light h5,
body.colorScheme-themeDefault.colorMode-light h6,
body.colorScheme-themeDefault.colorMode-light p,
body.colorScheme-themeDefault.colorMode-light td,
body.colorScheme-themeDefault.colorMode-light th,
body.colorScheme-themeDefault.colorMode-light label,
body.colorScheme-themeDefault.colorMode-light li,
body.colorScheme-themeDefault.colorMode-light select,
body.colorScheme-themeDefault.colorMode-light textarea,
body.colorScheme-themeDefault.colorMode-light .selectableContent {
    color: #006E9F !important;
}

body.colorScheme-themeDefault.colorMode-dark,
body.colorScheme-themeDefault.colorMode-dark h1,
body.colorScheme-themeDefault.colorMode-dark h2,
body.colorScheme-themeDefault.colorMode-dark h3,
body.colorScheme-themeDefault.colorMode-dark h4,
body.colorScheme-themeDefault.colorMode-dark h5,
body.colorScheme-themeDefault.colorMode-dark h6,
body.colorScheme-themeDefault.colorMode-dark p,
body.colorScheme-themeDefault.colorMode-dark td,
body.colorScheme-themeDefault.colorMode-dark th,
body.colorScheme-themeDefault.colorMode-dark a,
body.colorScheme-themeDefault.colorMode-dark label,
body.colorScheme-themeDefault.colorMode-dark input,
body.colorScheme-themeDefault.colorMode-dark select,
body.colorScheme-themeDefault.colorMode-dark textarea,
body.colorScheme-themeDefault.colorMode-dark .selectableContent {
    color: white !important;
}