:root {

    --accent1: #1b75bb;
    --accent1-hover: #555;
    --accent1-color:#fff;

    --accent2: #81B1A8;
    --accent2-hover: #555;
    --accent2-color:#fff;

    --primary-background: #F4F4F6;
    --secondary-background: #fff;

    --primary-font-color: #555;
    --secondary-font-color: #555;

    --neutral: #dddde3;

    --col-title-bg: #F4F4F6;
    --col-content-bg: #FFFFFF;
    --col-hover-bg: #c7c7d1;

    --primary-color: var(--accent1);
    --secondary-color: var(--accent2);

    --main-bg: var(--primary-background);
    --left-panel-bg: var(--secondary-background);
    --content-bg: var(--secondary-background);

    --main-action-bg: var(--accent1);
    --main-action-color: var(--accent1-color);
    --main-action-hover-bg: var(--accent1-hover);
    --main-action-hover-color: var(--accent1-color);

    --secondary-action-bg: var(--primary-background);
    --secondary-action-color: var(--primary-font-color);
    --secondary-action-hover-bg: var(--accent2-hover);
    --secondary-action-hover-color: var(--accent2-color);

    --main-menu-link-bg: var(--secondary-background);
    --main-menu-link-color: var(--primary-font-color);

    --main-menu-link-hover-bg: var(--primary-background);
    --main-menu-link-hover-color: var(--accent1);

    --main-menu-link-active-bg: var(--primary-background);
    --main-menu-link-active-color: var(--accent1);

    --main-menu-border-color:var(--neutral);

    --project-selector-bg: var(--secondary-background);
    --project-selector-color: var(--primary-font-color);
    --project-selector-hover-bg: var(--primary-background);
    --project-selector-hover-color: var(--primary-font-color);

    --dropdown-link-bg:var(--secondary-background);
    --dropdown-link-color: var(--primary-font-color);
    --dropdown-link-hover-bg: var(--primary-font-color);
    --dropdown-link-hover-color: var(--primary-background);

    --header-action-hover-color:var(--neutral);
    --header-bg-color:var(--accent1);
    --header-gradient:linear-gradient(90deg, var(--accent1) 20%,var(--accent2) 100%);

    --element-gradient:linear-gradient(135deg, var(--accent1) 20%,var(--accent2) 100%);

    --primary-font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;

    --font-size-xs: 10px;
    --font-size-s: 12px;
    --base-font-size: 14px;
    --font-size-m: var(--base-font-size);
    --font-size-l: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 20px;
    --font-size-xxxl: 24px;

    --main-border-color:var(--neutral);
    --min-shadow: 0px 1px 3px rgba(0 0 0 / 10%), 0px 0px 1px rgba(0 0 0 / 5%);
    --regular-shadow: 0px 1px 3px rgba(0 0 0 / 20%), 0px 0px 0px rgba(0 0 0 / 10%);
    --large-shadow: 0px 0px 8px 0 rgba(0 0 0 / 15%);
    --box-radius-large:10px;
    --box-radius: 5px;
    --box-radius-small:3px;
    --element-radius: 5px;
    --input-radius: 8px;

    --kanban-col-bg: transparent;
    --kanban-col-title-bg: var(--col-title-bg);
    --kanban-col-title-color:var(--primary-font-color);
    --kanban-card-bg: var(--secondary-background);
    --kanban-card-hover: var(--col-title-bg);


    --dark-red:#821219;
    --dark-red-text-color:#fff;

    --red: #BB1B25;
    --red-text-color: #fff;

    --green: #75BB1B;
    --green-text-color: #fff;

    --dark-green: #4B7811;
    --dark-green-text-color:#fff;

    --yellow: #fdab3d;
    --yellow-text-color: #fff;

    --blue: #1B75BB;
    --blue-text-color: #fff;

    --dark-blue:#124F7D;
    --dark-blue-text-color: #fff;

    --darker-blue:#082236;
    --darker-blue-text-color: #fff;

    --purple:#5F0F40;
    --purple-text-color:#fff;

    --magenta:#bb1b75;
    --purple-text-color:#fff;

    --pink: #F26CA7;
    --pink-text-color:#fff;

    --brown: #BB611B;
    --brown-text-color: #fff;

    --grey: #aaaaaa;
    --grey-text-color:#fff;

    --dark-grey: #4c4c4c;
    --dark-grey-text-color: #fff;

    --teal: #1bbbb1;
    --teal-text-color: #fff;




}

.ss-option:hover {
    color: white;
    background-color: var(--accent1) !important;
}
