.metadata
.project
.idea
.settings
.DS_Store
.vscode
*.swp

config/configuration.php
resources/logs/*
node_modules/*
vendor/*
public/js/compiled-app.min.js
public/js/compiled-base-libs.min.js
public/js/compiled-extended-libs.min.js
public/js/jsSourceMapAPP.map
public/js/jsSourceMapAppSrc.map
public/js/jsSourceMapBaseLib.map
public/js/jsSourceMapExtendedSrc.map
public/css/main.css
public/css/main.css.map

public/backupdb/leantime_20210205-1034.sql