.metadata
.project
.idea
.settings
.DS_Store
*.swp

config/configuration.php
resources/logs/*
node_modules/*
vendor/*
package-lock.json
public/js/compiled-app.min.js
public/js/compiled-libs.min.js
public/js/jsSourceMapAPP.map
public/js/SourceMapLIBS.map
public/css/main.css
public/css/main.css.map

