parameters:
    level: 0
    paths:
        - public/
        - app/Command
        - app/Core
        - app/Domain
        - app/Views
        - bin/
    scanDirectories:
        - vendor
        - config
    ignoreErrors:
        - '#Variable \$tpl might not be defined\.#'
        - '#Variable \$login might not be defined\.#'
        - '#Variable \$roles might not be defined\.#'
        - '#Variable \$__data might not be defined\.#'
        - '#Constant BASE_URL not found\.#'
        - '#Constant APP_ROOT not found\.#'
        - '#Constant CURRENT_URL not found\.#'
    universalObjectCratesClasses:
        - Leantime\Core\Environment
    earlyTerminatingMethodCalls:
        Leantime\Core\Templates:
            - redirect
            - display
            - displayPartial
