parameters:
    level: 0
    paths:
        - public/
        - app/Command
        - app/Core
        - app/Domain
        - app/Plugins
        - app/Views
        - bin/
    excludes_analyse:
        - app/Plugins/*/vendor/*
    scanDirectories:
        - vendor
        - config
    ignoreErrors:
    universalObjectCratesClasses:
        - Leantime\Core\Environment
    earlyTerminatingMethodCalls:
        Leantime\Core\Templates:
            - redirect
            - display
            - displayPartial
