.tilt.right {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}
.tilt.left {
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}

.column {
    box-sizing: border-box;
    height:auto;
    padding:5px;
    float:left;
}

.column:first-child {
    padding-left:0px;
}
.column:last-child {
    padding-right:0px;
}

.column .contentInner {
    background:#f0f0f0;
    border:1px solid #ccc;
    padding:10px 5px;
    min-height:200px;
    /*overflow-x: hidden;*/
    overflow-y: auto;
}

.ticketBox:hover {
    background:#f9f9f9;
}

.column .contentInner .ui-state-highlight {
    background:#ddd;
    border: 2px dotted #ccc;
    visibility:visible;
    display:block;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
}
.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}
.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}
.portlet-content {
    padding: 0.4em;
}
.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

.titleBorderColor1 {
    border-bottom:5px solid #b94a48;
}

.titleBorderColor3 {
    border-bottom:5px solid #2d6987;
}

.titleBorderColor4 {
    border-bottom:5px solid #f89406;
}

.titleBorderColor2 {
    border-bottom:5px solid #f89406;
}

.titleBorderColor0 {
    border-bottom:5px solid #468847;
}

.titleBorderColor-1 {
    border-bottom:5px solid #999999;
}

.sortableTicketList li{
    list-style:none;
}

.sortableTicketList li:hover {
    background:#f9f9f9;
}

.sortableTicketList .ticketBox {
    background:#fff;
    border:1px solid #ddd;
    padding:10px;
    padding-bottom:10px;
    margin-bottom:5px;
    cursor:move;
    border-radius:5px;
}

.sortableTicketList.disabled .ticketBox {
    cursor:auto;
}

.sortableTicketList .ticketBox textarea {
    max-width:100%;
}
.sortableTicketList .ticketBox.fixed {
    cursor:default;
}

.sortableTicketList li:hover .ticketBox {
    background:#f9f9f9;
}

.sortableTicketList li:hover .ticketBox.fixed {
    background:#fff;
}

.sortableTicketList .ticketBox p.description {
    padding-bottom:10px;
    overflow:hidden;
}

.sortableTicketList li .ticketBox h6,
.sortableTicketList li .ticketBox h6 a {
    line-height:16px;
}

.sortableTicketList li .ticketBox h3,
.sortableTicketList li .ticketBox h3 a{
    font-size:18px;
}

.sortableTicketList li .ticketBox .label-important,
.sortableTicketList li .ticketBox .label-warning,
.sortableTicketList li .ticketBox .label-success,
.sortableTicketList li .ticketBox .label-info,
.sortableTicketList li .ticketBox .label-inverse,
.sortableTicketList li .ticketBox .label-default,
.sortableTicketList li .ticketBox .label-primary{
    padding-top:0px;
    padding-bottom:0px;
}

.sortableTicketList li .ticketBox .timerContainer .btn{
    padding-top:1px;
    padding-bottom:1px;
}

.sortableTicketList .empty {
    text-align:center;
    color:#999;
    padding:20px 0px;
}


