/* Ticket Labelled dropdowns */

.dropdown-menu {
    margin-top: 0;
    border-radius: var(--box-radius);
    border:0px;
    box-shadow: var(--regular-shadow);
    background:var(--secondary-background);
}

.bigMenu ul li {
    list-style-type: none;
}

.dropdown-menu > li > a,
.bigMenu ul li a{
    font-size: var(--base-font-size);
    color:var(--primary-font-color);
    margin: 0 5px;
    padding: 5px 10px;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: var(--dropdown-link-hover-color);
    background:var(--dropdown-link-hover-bg);
}

.dropdownTabs {
    padding:5px;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    flex-wrap: wrap;

    align-content: space-between;
    border-bottom:1px solid var(--main-border-color);
}

.dropdownTabs a {

}

.dropdownTabs a:hover {
    text-decoration: none;
    color:var(--dropdown-link-hover-color);
}



.maincontentinner .viewDropDown .dropdown-menu > li > a:hover .muted,
body .maincontentinner .viewDropDown .dropdown-menu li a.active,
.dropdown-menu > li > a.active,
.dropdown ul li.active a{
    color: var(--dropdown-link-hover-color);
    background:var(--dropdown-link-hover-bg);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.bigMenu ul li a,
.bigMenu ul li a:hover,
.bigMenu ul li a:focus {
    color: var(--dropdown-link-hover-color) !important;
    background:var(--dropdown-link-hover-bg) !important;
}


.dropdown .dropdown-menu .nav-header {
    padding-left: 10px;
    padding-right: 10px;
}

.ticketDropdown.show {
    display:inline-block;
}

.ticketDropdown {
    font-size:var(--font-size-s);

}

.ticketDropdown ul,
.ticketDropdown ul li a{
    top: 22px;
    font-size:var(--font-size-s);
}

.ticketDropdown.userDropdown {
    margin-top:-2px;
}

.ticketDropdown.userDropdown ul {
    top: 33px;
    left: 6px;
}

.dropRight ul,
.ticketDropdown.userDropdown.dropRight ul{
    right:0px;
    left:auto;
}

.maincontentinner .ticketDropdown > a,
.maincontentinner .ticketDropdown > a:link,
.nyroModalCont .ticketDropdown > a,
.nyroModalCont .ticketDropdown > a:link{
    color:#fff;
    padding:0px 10px;
    white-space: nowrap;
    border-radius:var(--box-radius-large);
    margin-left:0px;
    box-shadow:var(--min-shadow);
}

.maincontentinner .ticketDropdown.userDropdown > a,
.maincontentinner .ticketDropdown.userDropdown > a:link,
.nyroModalCont .ticketDropdown.userDropdown > a,
.nyroModalCont .ticketDropdown.userDropdown > a:link {
    padding-left:0px;
}

.maincontentinner .ticketDropdown.firstDropdown > a {
    margin-left:0px;
}

.maincontentinner .ticketDropdown.lastDropdown > a {
    padding-right:0px;
}

.maincontentinner .ticketDropdown > a:hover,
.maincontentinner .ticketDropdown > a:focus {
    text-decoration: none;
}


.maincontentinner .ticketDropdown.colorized li a,
.nyroModalCont .ticketDropdown.colorized li a{
    color:#fff;
}

.maincontentinner .ticketDropdown.noBg {
    background:transparent;

}

.maincontentinner .ticketDropdown.noBg >a img {

}

.maincontentinner .dropdown img {
    width:21px;
    border-radius: 10px;
    border: 1px solid var(--neutral);
    margin-top:1px;
}


.maincontentinner .ticketDropdown.noBg >a:hover {
    color:#000;
}



.maincontentinner .ticketDropdown ul li a[class*="label-"],
.nyroModalCont .ticketDropdown ul li a[class*="label-"]{
    padding: 5px 10px;
    display:block;
    border-radius: 0px;
}

.chzn-results li[class*=" label-"] {
    color:#fff;
}

.chzn-results li[class*=" label-"]:hover {
    color:#555;
}

.chzn-results li.label-warning,
.maincontentinner .ticketDropdown a.label-warning,
.nyroModalCont .ticketDropdown a.label-warning{
    background:var(--yellow);
    color:var(--yellow-text-color);
}

.chzn-results li.label-info,
.maincontentinner .ticketDropdown a.label-info,
.nyroModalCont .ticketDropdown a.label-info{
    background:var(--dark-blue);
    color:var(--dark-blue-text-color);
}

.chzn-results li.label-important,
.maincontentinner .ticketDropdown a.label-important,
.nyroModalCont .ticketDropdown a.label-important{
    background:var(--red);
    color:var(--red-text-color);
}

.chzn-results li.label-danger,
.maincontentinner .ticketDropdown a.label-danger,
.nyroModalCont .ticketDropdown a.label-danger{
    background:var(--dark-red);
    color:var(--dark-red-text-color);
}

.chzn-results li.label-success,
.maincontentinner .ticketDropdown a.label-success,
.nyroModalCont .ticketDropdown a.label-success{
    background:var(--green);
    color:var(--green-text-color);
}

.chzn-results li.label-default,
.maincontentinner .ticketDropdown a.label-default,
.nyroModalCont .ticketDropdown a.label-default{
    background: var(--grey);
    color:var(--grey-text-color);
}

.chzn-results li.label-purple,
.maincontentinner .ticketDropdown a.label-purple,
.nyroModalCont .ticketDropdown a.label-purple{
    background:var(--purple);
    color:var(--purple-text-color);
}

.chzn-results li.label-pink,
.maincontentinner .ticketDropdown a.label-pink,
.nyroModalCont .ticketDropdown a.label-pink{
    background:var(--pink);
    color:var(--pink-text-color);
}

.chzn-results li.label-brown,
.maincontentinner .ticketDropdown a.label-brown,
.nyroModalCont .ticketDropdown a.label-brown{
    background:var(--brown);
    color:var(--brown-text-color);
}

.chzn-results li.label-blue,
.maincontentinner .ticketDropdown a.label-blue,
.nyroModalCont .ticketDropdown a.label-blue{
    background:var(--blue);
    color:var(--blue-text-color);
}

.chzn-results li.label-dark-blue,
.maincontentinner .ticketDropdown a.label-dark-blue,
.nyroModalCont .ticketDropdown a.label-dark-blue{
    background:var(--dark-blue);
    color:var(--dark-blue-text-color);
}

.chzn-results li.label-darker-blue,
.maincontentinner .ticketDropdown a.label-darker-blue,
.nyroModalCont .ticketDropdown a.label-darker-blue{
    background:var(--darker-blue);
    color:var(--darker-blue-text-color);
}

.chzn-results li.label-green,
.maincontentinner .ticketDropdown a.label-green,
.nyroModalCont .ticketDropdown a.label-green{
    background:var(--green);
    color:var(--green-text-color);
}

.chzn-results li.label-dark-green,
.maincontentinner .ticketDropdown a.label-dark-green,
.nyroModalCont .ticketDropdown a.label-dark-green{
    background:var(--dark-green);
    color:var(--dark-green-text-color);
}

.chzn-results li.label-red,
.maincontentinner .ticketDropdown a.label-red,
.nyroModalCont .ticketDropdown a.label-red{
    background:var(--red);
    color:var(--red-text-color);
}

.chzn-results li.label-dark-red,
.maincontentinner .ticketDropdown a.label-dark-red,
.nyroModalCont .ticketDropdown a.label-dark-red{
    background:var(--dark-red);
    color:var(--dark-red-text-color);
}

.chzn-results li.label-grey,
.maincontentinner .ticketDropdown a.label-grey,
.nyroModalCont .ticketDropdown a.label-grey{
    background:var(--grey);
    color:var(--grey-text-color);
}

.maincontentinner .ticketDropdown a.label-default.effort,
.nyroModalCont .ticketDropdown a.label-default.effort{
    background:var(--secondary-background);
    color:var(--primary-font-color);

}


.maincontentinner .ticketDropdown ul li {
    margin-bottom:1px;
}

.maincontentinner .ticketDropdown.milestoneDropdown li a:hover{
    background: var(--dropdown-link-hover-bg) !important;
    color: var(--dropdown-link-hover-color) !important;
}


.ticketDropdown ul::after {
    position: absolute;
    top:-6px;
    left: 10px;
    transform: rotate(0deg);
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    border-left: 7px solid transparent;
    content: '';
}

.ticketDropdown.dropRight  ul::after {
    right: 10px;
    left:auto;
}

.viewDropDown .dropdown-menu {
    right:0px;
    left:auto;
}

.viewDropDown .dropdown-menu li a.active{

}

.viewDropDown .dropdown-menu li a.active:hover {
    color:#fff;
}

.dropdown-menu span.radio input[type="radio"] {
    float:left;
    vertical-align: middle;
    margin-top: 9px;
    margin-right:5px;
}

.dropdown-menu span.radio {
    display:block;
    font-size: 12px;
    color: var(--main-menu-link-color);
    margin: 0 5px;
    padding: 5px 10px;
}

.dropdown-menu span.radio:hover {
    color: var(--dropdown-link-hover-color);
    background:var(--dropdown-link-hover-bg);
}

.dropdown-menu span.radio label {
    display:inline-block;
    width:100%;
}

.wikiSelect {
    margin-bottom:5px;
}

.dropdown-menu.iconpicker-container,
.iconpicker-popover.popover {
    width:215px;
    min-width:215px;
}

.iconpicker-popover .popover-title {
    display:none;
}

.btn-group .btn.titleIconPicker {
    font-size: var(--font-size-xl);
    line-height: 21px;
    padding: 5px 6px;
    color: var(--primary-font-color);
    background-color: var(--secondary-background);
    border: 1px solid var(--secondary-background);
    border-radius: 3px;
}

.btn-group .btn.titleIconPicker:hover {
    border: 1px solid var(--main-border-color);
}

.btn-group .btn.titleIconPicker .caret,
.btn-group .btn.titleIconPicker .caret,
.btn-group .btn.titleIconPicker:last-child .caret,
.btn-group >.btn.titleIconPicker.dropdown-toggle .caret {
    border-top-color: var(--primary-font-color);
}

.btn-group .btn.titleIconPicker:hover .caret,
.btn-group .btn.titleIconPicker:hover .caret,
.btn-group .btn.titleIconPicker:last-child:hover .caret,
.btn-group >.btn.titleIconPicker.dropdown-toggle:hover .caret {
    border-top-color: var(--secondary-action-hover-color);
}

.inlineDropDownContainerLeft {
    float:left;
    display:inline-block;
}

.pagetitle .header-title-dropdown {
    border: 1px solid transparent;
    display:inline-block;
    background:transparent;
    width:auto;
    color:var(--main-action-color);
    text-decoration:underline;
    padding:0px 3px ;
    border-radius: var(--box-radius-small);
}

.pagetitle .header-title-dropdown .fa {
    padding-left:10px;
}

.pagetitle .header-title-dropdown:hover {
    border: 1px solid var(--main-action-color);
}

.dropdownWrapper {
    position:relative;
}

.dropdownWrapper .border {
    border-top:1px solid var(--neutral);
}

.headerEditDropdown {
    float:right;
    padding-top:20px;
}

.pagetitle .btn-transparent {
    background:transparent;
    color:var(--main-action-color);
    border:1px solid var(--main-action-color);
    font-size:var(--font-size-l);
}

.editCanvasDropdown {
    right:0px;
    left:auto;
}
