.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background:var(--main-action-hover-bg);
    color:var(--main-action-hover-color);
    border-color:var(--main-action-hover-bg);
    border-radius: var(--element-radius);
}

input, button, select, textarea {
    font-family:var(--primary-font-family);
}
form label{
    padding-top:5px;
}

form .switchery {
    margin-top:5px;
}

tox-edit-area,
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: auto;
    background-color: var(--secondary-background);
    line-height:21px;
    border: 1px solid var(--main-border-color);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    border-radius: var(--element-radius);
    padding: 3px 6px;
    color:var(--primary-font-color);
}

input:read-only,
input:disabled,
.btn-primary[disabled]{
    border:none;
    box-shadow:none;
    padding-left: 0px;
}



body div.tagsinput {
    background-color: var(--secondary-background);
    color:var(--primary-font-color);
    width:100% !important;
    height:35px !important;
    border-radius:var(--element-radius);
    box-shadow: none;
    border:0px;
}

body div.tagsinput input {
    font-size:var(--base-font-size);
    color:var(--primary-font-color) !important;
    width:auto;
    padding:0px;
}

body div.tagsinput span.tag {
    border-radius: 12px;
    padding: 0px 10px;
    border: 0px solid var(--primary-color);
}

div.tagsinput span.tag {
    font-size:var(--font-size-s);
}

select {
    min-height:30px;
}

::selection {
    background: #ccc;
    color: #fff;
    text-shadow: none;
}

/* Safari */
::-moz-selection {
    background: #ccc;
    color: #fff;
    text-shadow: none;
}

/* Firefox */
:-moz-placeholder {
    color: #bbb;
}

::-webkit-input-placeholder {
    color: #bbb;
}

:-ms-input-placeholder {
    color: #bbb;
}


input, select,
textarea, button {
    outline: none;
    font-size: var(--base-font-size);

}

.assign-container {
    height: 205px;
    overflow: auto;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.stdform .assign-container label {
    width: auto;
}

.assign-container .checker {
    float: left;
}

.assign-container .half {
    width: 49%;
    margin-right: 1%;
    float: left;
    margin: 8px 0px;
}


/*Secondary Button*/
body .btn-default,
body .btn,
body a.btn,
input.btn,
button.btn,
body input[type='submit'].btn-default,
.btn-group .btn,
.btn-group>.btn:last-child,
.btn-group>.dropdown-toggle,
a.btn-default,
.btn-default:link

{
    font-family: var(--primary-font-family);
    font-size: var(--base-font-size);
    padding: 3px 12px;
    line-height:21px;
    background: var(--secondary-action-bg);
    text-shadow: none;
    box-shadow:none;
    color: var(--secondary-action-color);
    display: inline-block;
    word-spacing: 2px;
    border:1px solid var(--secondary-action-bg);
    border-radius:var(--element-radius) !important;
    outline:0;
    vertical-align: top;
}

body .btn-default:hover,
body input[type='submit'].btn-default:hover,
.btn-group .btn:hover,
body .btn-default:active,
body input[type='submit'].btn-default:active,
.btn-group .btn:active,
.btn-group.open .btn.dropdown-toggle{
    background:var(--secondary-action-hover-bg);
    color:var(--secondary-action-hover-color);
    border-color:var(--secondary-action-hover-bg);
}

body .btn-default .caret,
body input[type='submit'].btn-default .caret,
.btn-group .btn .caret,
.btn-group>.btn:last-child .caret,
.btn-group>.dropdown-toggle .caret {
    border-top-color:var(--secondary-action-hover-color);
}

body .btn-default:hover .caret,
body input[type='submit'].btn-default:hover .caret,
.btn-group .btn:hover .caret,
body .btn-default:active .caret,
body input[type='submit'].btn-default:active .caret,
.btn-group .btn:active .caret,
.btn-group.open .btn.dropdown-toggle .caret{
    border-top-color:var(--secondary-action-hover-color);

}

body .btn-default:active,
body input[type='submit'].btn-default:active,
.btn-group .btn:active,
.btn-group.open .btn.dropdown-toggle {
    box-shadow: inset 0 2px 4px rgb(0 0 0 / 15%), 0 1px 2px rgb(0 0 0 / 5%);
}



/*Primary button */

body .btn-primary,
body btn.btn-primary,
body a.btn.btn-primary,
input[type='submit'],
.btn-primary:link,
.btn-primary[disabled],
.dt-button,
.btn-group.open .btn-primary.dropdown-toggle,
.btn-group .btn.btn-primary{
    background:var(--main-action-bg);
    border-radius:var(--element-radius);
    outline:0;
    font-size: var(--base-font-size);
    padding: 3px 12px;
    line-height:21px;
    box-shadow:none;
    text-shadow: none;
    color: var(--main-action-color);
    display: inline-block;
    word-spacing: 2px;
    border: 1px solid var(--main-action-bg);
}

body .btn-primary:hover,
body .btn-primary:active,
body .btn-primary:focus,
body input[type='submit']:hover,
body .btn-group.open .btn-primary.dropdown-toggle,
.btn-group .btn.btn-primary:hover,
body a.btn.btn-primary:hover{
    background: var(--main-action-hover-bg);
    color:var(--main-action-hover-color);
    border:1px solid var(--main-action-hover-bg);
}

.btn-primary[disabled] {
    background:var(--main-action-bg);
    color: var(--main-action-color);
    border: 1px solid var(--main-action-bg);
    cursor:not-allowed;
}



.chzn-container-single .chzn-single {
    border:1px solid var(--main-border-color);
}

.chzn-container,
.chzn-container-multi .chzn-choices .search-field input {
    font-size:var(--base-font-size);
}

.chzn-container-multi .chzn-choices {
    background-color: var(--secondary-background);
    line-height: 21px;
    border: 1px solid var(--main-border-color);
}



.btn-group>.btn {
}

.btn-file {
    padding: 4px 12px 3px 12px;
}

.btn,
a:link.btn{

}

.viewText {
    padding-right:5px;
}

.btn .caret {
    margin-left: 0px;
}

.btn-small {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: var(--element-radius);
    font-size: var(--base-font-size);
    text-transform: uppercase;
}

.btn-large {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: var(--element-radius);
    font-size: var(--font-size-l);
    padding: 10px 20px;
}




.btn-danger, .btn-danger:link {
    background: var(--red);
    border-color: var(--dark-red);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus,
.btn-group.open .btn-danger.dropdown-toggle {
    background: var(--dark-red);
}

.btn-warning, .btn-warning:link {
    background: var(--yellow);
    border-color: var(--yellow);
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus,
.btn-group.open .btn-warning.dropdown-toggle {
    background: var(--yellow);
}

.btn-success, .btn-success:link {
    background: var(--green);
    border-color: var(--dark-green);
}

.btn-success:hover, .btn-success:active, .btn-success:focus,
.btn-group.open .btn-success.dropdown-toggle {
    background: var(--dark-green);
}

.btn-info, .btn-info:link {
    background: var(--blue);
    border-color: var(--dark-blue);
}

.btn-info:hover, .btn-info:active, .btn-info:focus,
.btn-group.open .btn-info.dropdown-toggle {
    background: var(--dark-blue);
}

.btn-inverse, .btn-inverse:link {
    background: #555;
    border-color: #272727;
}

.btn-circle {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 20px;
    padding: 5px;
    background: none;
    border: 2px solid #ccc;
}

.btn-circle:hover {
    background: none;
    color: #ccc;
}

.btn-circle.btn-primary, .btn-circle.btn-primary:hover, .btn-circle.btn-primary:focus,
.btn-circle.btn-primary:active, .btn-circle.btn-primary.active,
.btn-circle.btn-primary.disabled, .btn-circle.btn-primary[disabled] {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background: none !important;
}

.btn-circle.btn-danger, .btn-circle.btn-danger:hover, .btn-circle.btn-danger:focus,
.btn-circle.btn-danger:active, .btn-circle.btn-danger.active,
.btn-circle.btn-danger.disabled, .btn-circle.btn-danger[disabled] {
    border-color: var(--red);
    color: var(--red);
    background: none;
}

.btn-circle.btn-warning, .btn-circle.btn-warning:hover, .btn-circle.btn-warning:focus,
.btn-circle.btn-warning:active, .btn-circle.btn-warning.active,
.btn-circle.btn-warning.disabled, .btn-circle.btn-warning[disabled] {
    border-color: var(--yellow);
    color: var(--yellow);
    background: none;
}

.btn-circle.btn-success, .btn-circle.btn-success:hover, .btn-circle.btn-success:focus,
.btn-circle.btn-success:active, .btn-circle.btn-success.active,
.btn-circle.btn-success.disabled, .btn-circle.btn-success[disabled] {
    border-color: var(--green);
    color: var(--green);
    background: none;
}

.btn-circle.btn-info, .btn-circle.btn-info:hover, .btn-circle.btn-info:focus,
.btn-circle.btn-info:active, .btn-circle.btn-info.active,
.btn-circle.btn-info.disabled, .btn-circle.btn-info[disabled] {
    border-color: var(--blue);
    color: var(--blue);
    background: none;
}

.btn-circle.btn-inverse, .btn-circle.btn-inverse:hover, .btn-circle.btn-inverse:focus,
.btn-circle.btn-inverse:active, .btn-circle.btn-inverse.active,
.btn-circle.btn-inverse.disabled, .btn-circle.btn-inverse[disabled] {
    border-color: #555;
    color: #555;
    background: none;
}

.btn-circle .iconsweets-white {

}

.btn-group+.btn-group {
    margin-left: 0px;
}

select,
.row-fluid [class*="span"] select {
    min-height: 29px;
}

.row-fluid.marginBottom {
    margin-bottom:30px;
}

.marginBottomMd {
    margin-bottom:15px;
}


.filterBar select {
    height: auto;
    line-height: 21px;
}

.filterBoxLeft input[type="text"] {
    margin-right:10px;
}

.chzn-choices {

}

.chzn-container-multi .chzn-choices .search-choice {
    border: 0px solid #bbb;
    line-height: 12px;
    padding: 1px 20px 1px 10px;
    margin: 3px 0 2px 3px;
    position: relative;
    cursor: default;
    border-radius:12px;
    font-size:var(--font-size-s);
}

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    right:5px;
}

.chzn-container-multi .chzn-choices .search-field input {
    height: auto;
    padding: 3px 6px;
}

.chzn-container-single .chzn-search input {
    background:var(--secondary-background);
    border-color:var(--main-border-color);
}

.chzn-container .chzn-results .no-results {
    background:var(--secondary-background);
}

input[type=checkbox] {
    margin-top:9px;
}

input[type=color] {
    height:29px;
    padding:0px;
    width:29px;
    border:2px solid #ccc;
}

.assign-container {
    border: 1px solid var(--main-border-color);
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.075);
}

.userBox {
    border:1px solid var(--main-border-color);
    border-radius: var(--box-radius);
    padding:10px;
    margin-bottom:10px;
}

.userBox .commentImage img{
    width:50px;
    height:50px;
    margin-top: 5px;
}

.userBox input[type=checkbox] {
    float:left;
    margin-right:15px;
    margin-top:23px;
}

.userBox label {
    display: inline-block;
    width:200px;
}

.userBox select,
.userBox input{
    margin-bottom:0px;

}

.backlogChartButtons,
.chartButtons{
    margin-left:5px !important;
}

#calendar {
    margin-top:10px;
}

.dropdown-toggle.full-width-select {
    width:100%;
    display:block;

    height: auto;
    background-color: var(--secondary-background);
    line-height:21px;
    border: 1px solid var(--main-border-color);

    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    border-radius: 3px;
    padding: 3px 6px;
    color:var(--primary-font-color);
}

.dropdown-toggle.full-width-select:hover {
    text-decoration:none;
    background:var(--main-menu-link-hover-bg);
    color:var(--main-menu-link-hover-color);
}

.dropdown-toggle.full-width-select .fa {
    float: right;
    vertical-align: bottom;
    margin-top: 3px;
}

.board-select .dropdown-menu {
    margin-left:15px;
    margin-top:2px;
}

.board-select .dropdown-menu li.nav-header.border {
    border-top: 1px solid var(--neutral);
    border-bottom: 0px;
    padding-top: 10px;
}


body input[type=text].main-title-input.main-title-input {
    border: 1px solid var(--secondary-background);
    box-shadow:none;
    font-size:var(--font-size-xxl);
    margin-bottom:5px;
}

body div.tagsinput {
    border:1px solid var(--secondary-background);
    margin-bottom:5px;
}

body div.tagsinput:hover,
body div.tagsinput:focus,
body input[type=text].main-title-input.main-title-input:hover,
body input[type=text].main-title-input.main-title-input:focus{
    border: 1px solid var(--main-border-color);
}

body div.tagsinput.readonly {
    display:inline-block;
    width:auto;
    padding:0px;
    border:0px !important;
    height:auto !important;
}

body .ticketBox div.tagsinput.readonly {
    background:none !important;
    margin-bottom:0px !important;
}

div.border {
    border:1px solid var(--main-border-color);
    border-radius: var(--box-radius);
    padding:10px;
}

body select {
    max-witdh:206px;
}

input.secretInput {
    width:126px;
    border:0px;
    margin-left:3px;
    padding-left:3px;
    background:none;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom:0px;
    border: 1px solid transparent;
    margin-top:-1px;
    cursor:pointer;
    color:var(--primary-font-color);

}

input.secretInput:hover,
input.secretInput:focus,
input.secretInput:active {

    border: 1px solid #cccccc;
    text-decoration:none;
}

.fileupload .btn, .fileupload .fileupload-exists {
    margin-left: 5px;
}

.input-append .fa-file::before {
    font-family: "Font Awesome 6 Free";
    content: "\f15b";
    font-style: normal;
    margin-right:5px;
}


