.leftpanel {
    width: 240px;
    color: #fff;
    float: left;
    clear: both;
    min-height: 800px;
    background-color: var(--left-panel-bg);
    box-shadow: var(--large-shadow);
    position:fixed;
    height:100%;
    z-index: 11;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}


.leftmenu .nav-header {
    font-weight: normal;
    font-size: var(--font-size-l);
    padding: 15px 20px;
    text-shadow: none;
    border-bottom: 1px solid #222;
    margin-top: 0px;
    color: #fff;
    line-height: 16px;
}

.nav li + .nav-header {
    margin-top: 0px;
    background: #555;
}

.nav li + .nav-header small {
    text-transform: none;
    text-transform: none;
    color: #999;
    line-height: 12px;
}

.leftmenu .project-selector {
    padding: 10px 15px 20px 15px;
    position: relative;

}

.leftmenu .project-selector label {
    display: block;
    clear: both;
    float: none;
    padding-top: 0px;
    font-weight:lighter;
    /*font-family: 'RobotoLight', 'Helvetica Neue', Helvetica, sans-serif;*/
    font-size: var(--font-size-l);
}

.leftmenu .project-selector .chzn-container {
    width: 100% !important;
    display: block;
}

.leftmenu .project-selector .chzn-container .chzn-single {
    color: #555;
}

.leftmenu .project-selector .chzn-container .chzn-results li {
    color: #555;
}

.leftmenu .project-selector .chzn-container .chzn-results li.highlighted {
    color: #fff;
}

.leftmenu .project-selector .chzn-container .chzn-drop {
    width: 100% !important;
}

.logo {
    width: 240px;
    text-align: center;
    height: 50px;
    padding:10px 5px 5px 10px;
    margin-left: 0px;
    display: flex;

    flex-direction: column;
}

.logo a {
    width: 220px;
    text-align: center;
    height: 35px;
    background-position: left center;
    display: block;
    background-repeat: no-repeat;
    background-size:contain;
}

.logo a:hover {
    text-decoration:none;
}

.leftpanel a.barmenu {
    position:absolute;
    right:-50px;
    margin-top:0px;
    margin-left:20px;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    width:30px;
    height:50px;
    line-height:50px;
}

.leftpanel a.barmenu.open {

}

.leftpanel a.barmenu:hover {
    color:var(--header-action-hover-color);
}


.logo img {
    position: relative;
    height: 50px;
}

.leftmenu {
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.nav {
    background: #f3f4f5;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.leftmenu .project-selector {
    padding:0px;
    min-height:10px;
    display: flex;
    flex-direction: column;
    height: 60px;
}


.leftmenu .nav-tabs.nav-stacked .bigProjectSelector {
    display:block;
    font-weight:normal;
    font-size: var(--font-size-l);
    padding:0px 10px;
    line-height:59px;
    height:60px;
    border-bottom:1px solid var(--main-menu-border-color);
    color:var(--project-selector-color);
    background:var(--project-selector-bg);
}

.leftmenu .nav-tabs.nav-stacked .bigProjectSelector .fa {
    font-size: var(--base-font-size);
    padding-left:5px;
    float:right;
    margin-top:24px;
}

.leftmenu .nav-tabs.nav-stacked .bigProjectSelector:hover,
.leftmenu .nav-tabs.nav-stacked .bigProjectSelector:active,
.leftmenu .nav-tabs.nav-stacked .bigProjectSelector:focus {
    text-decoration:none;
    background:var(--project-selector-hover-bg);
    color:var(--project-selector-hover-color);
}

.leftmenu .bigProjectSelector span {
    font-size: var(--base-font-size);
    font-weight:normal;
    color:#ccc;
}

.leftmenu .projectselector {
    left: 245px;

    z-index: 10000000;
    top: 0px;
    border-radius: var(--box-radius);
}

.leftmenu .projectselector::after {
    position: absolute;
    top: 30px;
    left: -9px;
    transform: rotate(-90deg);
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.leftpanel .leftmenu .nav-tabs ul.projectselector  li a{
    color:var(--primary-font-color);
    font-size: var(--base-font-size);
    margin: 0 5px;
    padding: 10px 20px;
}

.leftpanel .leftmenu .nav-tabs ul.projectselector  li.intro {
    color:var(--primary-font-color);
    padding:10px 15px 20px 15px;
}

.leftpanel .leftmenu .nav-tabs ul.projectselector  li.intro .title {
    font-size: var(--font-size-l);
}

.leftpanel .leftmenu .nav-tabs ul.projectselector  li.intro .sub {
    font-size: var(--base-font-size);
    color: var(--secondary-font-color);
}

.leftpanel .leftmenu .nav-tabs ul.projectselector  li.intro a {
    display:inline;
    padding:0px;
    margin:auto;
}

.leftpanel .leftmenu .nav-tabs ul.projectselector  li.intro a:hover {
    background:var(--secondary-background);
    color:var(--secondary-action-color);

}

.leftpanel .leftmenu .nav-tabs ul.projectselector  li a:hover {
    color:var(--dropdown-link-hover-color);
}

.leftpanel .leftmenu .nav-tabs ul.projectselector  li.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: var(--base-font-size);
    font-weight: bold;
    line-height: 20px;
    color: var(--secondary-font-color);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    background:var(--secondary-background);
}

.leftpanel .leftmenu .nav-tabs ul.projectselector  li.nav-header.border {
    border-top:1px solid var(--neutral);
    border-bottom:0px;
    padding-top: 10px;
}

.leftpanel .leftmenu .nav-tabs ul.projectselector  li span.info {
    color:var(--primary-font-color);
    padding: 0px 15px;
    display: block;
    margin-bottom: 15px;
}


.leftmenu .nav-tabs.nav-stacked .dropdown ul li.active a {
    color: #fff;
}

.leftmenu .nav-tabs.nav-stacked .dropdown ul li a:hover {
    text-decoration: none;
    background-color: #555;
    color: #fff;
}

.leftmenu .nav-tabs.nav-stacked .project-selector .chzn-container a {
    padding: 0px 20px;
}

.leftmenu .nav-tabs.nav-stacked .project-selector .projectAvatar {
    width:30px;
    height:30px;
    font-size:14px;
    line-height:30px;
    text-align:center;
    background:#555;
    color:var(--main-action-color);
    display:inline-block;
    border-radius:var(--box-radius-small);
}

.leftmenu .nav-tabs.nav-stacked .project-selector .projectAvatar .fa {
   font-weight:900;
    color:#fff;
}

.leftmenu .nav-tabs.nav-stacked a {
    color: #555;
    padding: 10px 20px 10px 20px;
    font-size: var(--font-size-l);
}

.leftpanel .leftmenu .nav-tabs ul.projectselector {
    height: 90vh;
    overflow:auto;
}

.leftpanel .leftmenu .nav-tabs ul.projectselector li.active a {
    background-image:none;
    color:#fff;
}



.project-selector .dropdown-menu .openToggle,
.project-selector .dropdown-menu .closeToggle{
    cursor:pointer;
}

.leftpanel .leftmenu .nav-tabs ul.projectselector li.nav-header.openToggle:hover,
.leftpanel .leftmenu .nav-tabs ul.projectselector li.nav-header.closeToggle:hover {
    color:#555;
}

.leftpanel .leftmenu .nav-tabs ul.project-selector .dropdown-menu .openToggle i,
.leftpanel .leftmenu .nav-tabs ul.project-selector .dropdown-menu .closeToggle i {

}

.leftmenu .nav-tabs.nav-stacked {
    background-color:var(--left-panel-bg);
}

.leftmenu .nav-tabs.nav-stacked a span {
    margin-right: 5px;
}

.leftmenu .nav-tabs.nav-stacked > li > a {
    border: 0;
    border-bottom: 1px solid #232323;
    border-top: 1px solid #232323;
}

.leftmenu .nav-tabs.nav-stacked > li > a:hover,
.leftmenu .nav-tabs.nav-stacked > li > a:focus {
    background-color: #2c2c2c;
    color: #fff;
    border-bottom-color: #232323;
}

.leftmenu .nav-tabs.nav-stacked > li.active > a {
    color: #fff;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.leftmenu .nav-tabs.nav-stacked > li.active > a:hover {
}

.leftmenu .nav-tabs > li {
    margin-bottom: 0;
}

.leftmenu .nav-tabs.nav-stacked > li.dropdown ul {
    background: var(--main-menu-link-bg);
    display: none;
}

.leftmenu .nav-tabs.nav-stacked > li.dropdown ul li {

}

.leftmenu .nav-tabs.nav-stacked > li.dropdown > a {
    background-image: url(../images/droparrow.png);
    background-repeat: no-repeat;
    background-position: right 19px;
}

.leftmenu .nav-tabs.nav-stacked .dropdown ul li a {
    display: block;
    font-size: var(--base-font-size);
    padding: 10px 10px 10px 10px;
    color: var(--main-menu-link-color);
    border-left:5px solid transparent;

}

.leftmenu .nav-tabs.nav-stacked .dropdown ul li.active a {
    background-color: var(--main-menu-link-active-bg);
    color: var(--main-menu-link-active-color);
    border-left-color: var(--main-menu-link-active-color);
}

.leftmenu .nav-tabs.nav-stacked .dropdown ul li a:hover {
    text-decoration: none;
    background-color: var(--main-menu-link-hover-bg);
    color: var(--main-menu-link-hover-color);
    border-left-color: var(--main-menu-link-hover-bg);
}

.fixedMenuPoint {
    background: var(--main-menu-link-bg);
    position:fixed;
    width:240px;
    bottom: 0px;
    position: fixed;
    width: 240px;
    box-shadow: 0px -10px 10px var(--main-menu-link-bg);
    padding-bottom: 10px;
}


.nav-tabs {
    border-color: var(--primary-color);
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    border-color: var(--primary-color);
}

.nav-tabs > li > a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: #fff;
}



.headmenu {
    list-style: none;
    float: right
}

.headmenu .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0;
    margin: 0;
}


.headmenu .dropdown-menu a span {
    margin-right:10px;
}

.header .nav-header {
    text-shadow: none;
    text-transform: none;
    font-weight: normal;
    color:var(--primary-font-color);
}

.headmenu .dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 45px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.headmenu > li {
    display: inline-block;
    float: left;
    font-size: var(--base-font-size);
    position: relative;
    height: 50px;
}

.headmenu > li:first-child {
}

.headmenu > li.right {
    float: right;
}

.headmenu > li > a {
    min-width: 40px;
    position: relative;
    display: block;
    color: #fff;
    line-height: 50px;
    cursor: pointer;
    padding: 0px 15px;
}

.headmenu > li > a.active,
.headmenu > li > a:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
}

.headmenu > li > a .count {
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0.5;
}

.headmenu > li > a:hover .count, .headmenu > li.open > a .count {
    opacity: 1;
}

.headmenu > li > a .headmenu-label {
    text-align: left;
    padding-left:10px;
}

.headmenu > li > a:hover .headmenu-label, .headmenu > li.open > a .headmenu-label {
    opacity: 1;
}

.head-icon {
    background-repeat: no-repeat;
}

.headmenu > li > a .head-icon {
    font-size: var(--base-font-size);
    line-height: 50px;
    padding-right: 0px;
}

.headmenu > li > a:hover .head-icon, .headmenu > li.open a .head-icon {
    opacity: 1;
}

.headmenu-label {
    display:none;
}

.leftmenu .nav li.dropdown {
    overflow: auto;
    display: flex;
    flex-flow: column;
    flex: 1;
    padding-bottom: 100px;
}

.leftmenu .nav li.dropdown > ul {
    display:block;
}




.header .userloggedinfo img {
    background-color: #fff;
    width: auto !important;
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    margin-top:10px;
    margin-right: 5px;
}

.userloggedinfo {
    color: #fff;
    float: right;
    position:relative;
}

.userloggedinfo img {
    height: 40px;
    float: left;
}

.userloggedinfo .userinfo {
    float: left;
}

.userloggedinfo .userinfo a.profileHandler {
    color: #fff;
    padding:0px 5px 0px 10px;
    height:50px;
    line-height:50px;
    display: block;
    margin-right:15px;
}

.userloggedinfo .userinfo small {
    font-size: var(--base-font-size);
    opacity: 0.6;
    color: #fff;
    font-style: italic;
}

.userloggedinfo .dropdown-menu
{
    right:14px;
    left:auto;
}

.userloggedinfo .dropdown-menu::after{
    position: absolute;
    top: -6px;
    right: 28px;
    left:auto;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.appsDropdown .dropdown-menu {
    right:-10px;
    left:auto;
}

.appsDropdown .dropdown-menu:after {
    right:30px;
    top:-6px;
    left:auto;
}

.notificationDropdown .dropdown-menu {
    right: -10px;
    left: auto;
    min-width:300px;
}

.notificationDropdown .dropdown-menu:after {
    right:30px;
    top:-6px;
    left:auto;
}

.notificationDropdown span.notificationCounter {
    position: absolute;
    top: 10px;
    right: 5px;
    height: 15px;
    width: 15px;
    background: var(--dark-red);
    border-radius: 10px;
    line-height: 15px;
    text-align: center;
    font-size: var(--font-size-xs);
}

.userloggedinfo ul {
    list-style: none;
    margin-top:-1px;
}

.notificationDropdown .dropdown-menu li.new {
    border-left:5px solid var(--primary-color);
    font-weight:bold;
}

.notificationDropdown .dropdown-menu li {
    padding:10px;
    margin-bottom:1px;
    list-style-type:none;
}

.notificationDropdown .dropdown-menu li:hover {
    cursor:pointer;
    background:var(--dropdown-link-hover-bg);
}

.notificationDropdown .dropdown-menu li .notificationProfileImage img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid var(--main-border-color);
    float:left;
    margin-right:10px;
    margin-top: 5px;
}

.notificationDropdown .dropdown-menu li .notificationTitle {
    font-size:var(--base-font-size);
    display:block;
}

.notificationDropdown .dropdown-menu li .notificationDate {
    font-size:var(--font-size-s);
    font-style: italic;
}

.notificationDropdown .notifcationTabs.active{
    font-weight:bold;

}



.userloggedinfo ul li,
.appsDropdown ul li{
    font-size: var(--base-font-size);
    line-height: normal;
    margin-bottom: 1px;
}

.userloggedinfo ul li a,
.appsDropdown ul li a{
    line-height: normal;
    padding:10px 20px;
}

.userloggedinfo ul li.border,
.appsDropdown ul li.border{
    border-top:1px solid var(--neutral);
}

.userloggedinfo ul li.nav-header,
.appsDropdown ul li.nav-header{
    padding:10px;
}

.userloggedinfo ul li a span,
.appsDropdown ul li a span{
    margin-right: 5px;
}

.userloggedinfo ul li a:hover,
.appsDropdown ul li a:hover{
    text-decoration: none;

}

.userloggedinfo a,
.appsDropdown a{
    color: var(--secondary-action-color);
}



.userloggedinfo a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}
