
.leftmenu .nav-tabs.nav-stacked .dropdown ul li.active a {
    color: #fff;
}

.leftmenu .nav-tabs.nav-stacked .dropdown ul li a:hover {
    text-decoration: none;
    background-color: #555;
    color: #fff;
}

.leftmenu .nav-tabs.nav-stacked .project-selector .chzn-container a {
    padding: 0px 20px;
}

.leftmenu .nav-tabs.nav-stacked .project-selector .projectAvatar {
    width:30px;
    height:30px;
    font-size:14px;
    line-height:30px;
    text-align:center;
    background:#555;
    color:var(--main-action-color);
    display:inline-block;
    border-radius:var(--box-radius-small);
}

.leftmenu .nav-tabs.nav-stacked .project-selector .projectAvatar .fa {
   font-weight:900;
    color:#fff;
}

.leftmenu .nav-tabs.nav-stacked a {
    color: #555;
    padding: 10px 20px 10px 20px;
    font-size: var(--font-size-l);
}

.leftpanel .leftmenu .nav-tabs ul.projectselector {
    height: 90vh;
}

.leftpanel .leftmenu .nav-tabs ul.projectselector li.active a {
    background-image:none;
    color:#fff;
}



.project-selector .dropdown-menu .openToggle,
.project-selector .dropdown-menu .closeToggle{
    cursor:pointer;
}

.leftpanel .leftmenu .nav-tabs ul.projectselector li.nav-header.openToggle:hover,
.leftpanel .leftmenu .nav-tabs ul.projectselector li.nav-header.closeToggle:hover {
    color:#555;
}

.leftpanel .leftmenu .nav-tabs ul.project-selector .dropdown-menu .openToggle i,
.leftpanel .leftmenu .nav-tabs ul.project-selector .dropdown-menu .closeToggle i {

}

.leftmenu .nav-tabs.nav-stacked a span {
    margin-right: 5px;
}

.leftmenu .nav-tabs.nav-stacked > li > a {
    border: 0;
    border-bottom: 1px solid #232323;
    border-top: 1px solid #232323;
}

.leftmenu .nav-tabs.nav-stacked > li > a:hover,
.leftmenu .nav-tabs.nav-stacked > li > a:focus {
    background-color: #2c2c2c;
    color: #fff;
    border-bottom-color: #232323;
}

.leftmenu .nav-tabs.nav-stacked > li.active > a {
    color: #fff;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.leftmenu .nav-tabs.nav-stacked > li.active > a:hover {
}

.leftmenu .nav-tabs > li {
    margin-bottom: 0;
}

.leftmenu .nav-tabs.nav-stacked > li.dropdown ul {
    background: var(--main-menu-link-bg);
    display: none;
}

.leftmenu .nav-tabs.nav-stacked > li.dropdown ul li {

}

.leftmenu .nav-tabs.nav-stacked > li.dropdown > a {
    background-image: url(../images/droparrow.png);
    background-repeat: no-repeat;
    background-position: right 19px;
}

.leftmenu .nav-tabs.nav-stacked .dropdown ul li a {
    display: block;
    font-size: var(--base-font-size);
    padding: 10px 10px 10px 10px;
    color: var(--main-menu-link-color);
    border-left:5px solid transparent;

}

.leftmenu .nav-tabs.nav-stacked .dropdown ul li.active a {
    background-color: var(--main-menu-link-active-bg);
    color: var(--main-menu-link-active-color);
    border-left-color: var(--main-menu-link-active-color);
}

.leftmenu .nav-tabs.nav-stacked .dropdown ul li a:hover {
    text-decoration: none;
    background-color: var(--main-menu-link-hover-bg);
    color: var(--main-menu-link-hover-color);
    border-left-color: var(--main-menu-link-hover-bg);
}


.nav-tabs {
    border-color: var(--primary-color);
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    border-color: var(--primary-color);
}

.nav-tabs > li > a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: #fff;
}



.headmenu {
    list-style: none;
    float: right
}

.headmenu .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0;
    margin: 0;
}


.headmenu .dropdown-menu a span {
    margin-right:10px;
}

.header .nav-header {
    text-shadow: none;
    text-transform: none;
    font-weight: normal;
    color:var(--primary-font-color);
}

.headmenu .dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 45px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.headmenu > li {
    display: inline-block;
    float: left;
    font-size: var(--base-font-size);
    position: relative;
    height: 50px;
}

.headmenu > li:first-child {
}

.headmenu > li.right {
    float: right;
}

.headmenu > li > a {
    min-width: 40px;
    position: relative;
    display: block;
    color: #fff;
    line-height: 50px;
    cursor: pointer;
    padding: 0px 15px;
}

.headmenu > li > a.active,
.headmenu > li > a:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
}

.headmenu > li > a .count {
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0.5;
}

.headmenu > li > a:hover .count, .headmenu > li.open > a .count {
    opacity: 1;
}

.headmenu > li > a .headmenu-label {
    text-align: left;
    padding-left:10px;
}

.headmenu > li > a:hover .headmenu-label, .headmenu > li.open > a .headmenu-label {
    opacity: 1;
}

.head-icon {
    background-repeat: no-repeat;
}

.headmenu > li > a .head-icon {
    font-size: var(--base-font-size);
    line-height: 50px;
    padding-right: 0px;
}

.headmenu > li > a:hover .head-icon, .headmenu > li.open a .head-icon {
    opacity: 1;
}

.headmenu-label {
    display:none;
}