.mce-content-body  {
    font-size:13px;
}

body .tox-tinymce {
    border-radius:3px;
    z-index: 8;
}

body .tox .tox-toolbar,
body .tox .tox-toolbar__overflow,
body .tox .tox-toolbar__primary,
body .tox .tox-edit-area{
    border-top:0px;
}

.tox-statusbar {
    display:none;
}

body .tox-tinymce {
    border:0px;
    box-shadow:var(--regular-shadow);
}

body .tox-editor-header {
    border:0px solid var(--main-border-color) !important;
}

body .tox-editor-container>:first-child{
    border-bottom:0px solid var(--main-border-color) !important;
}

body .tox-edit-area {
    cursor: text;

}

body .tox .tox-mbtn,
body .tox .tox-collection__item-label {
    font-size:var(--base-font-size);
    font-family: var(--primary-font-family);
}

body .tox .tox-mbtn--active {
    background:var(--secondary-action-bg);
}

.tox-checklist>li:not(.tox-checklist--hidden) {
    list-style: none;
    margin: .25em 0;
}
.tox-checklist>li:not(.tox-checklist--hidden)::before {
    background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cg%20id%3D%22checklist-unchecked%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20id%3D%22Rectangle%22%20width%3D%2215%22%20height%3D%2215%22%20x%3D%22.5%22%20y%3D%22.5%22%20fill-rule%3D%22nonzero%22%20stroke%3D%22%234C4C4C%22%20rx%3D%222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A");
    background-size:100%;
    content:'';
    cursor:pointer;
    height:1em;
    margin-left:-1.5em;
    margin-top:.125em;
    position:absolute;
    width:1em;
}
.tox-checklist li:not(.tox-checklist--hidden).tox-checklist--checked::before {
    background-image:url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cg%20id%3D%22checklist-checked%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20id%3D%22Rectangle%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%234099FF%22%20fill-rule%3D%22nonzero%22%20rx%3D%222%22%2F%3E%3Cpath%20id%3D%22Path%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%20d%3D%22M11.5703186%2C3.14417309%20C11.8516238%2C2.73724603%2012.4164781%2C2.62829933%2012.83558%2C2.89774797%20C13.260121%2C3.17069355%2013.3759736%2C3.72932262%2013.0909105%2C4.14168582%20L7.7580587%2C11.8560195%20C7.43776896%2C12.3193404%206.76483983%2C12.3852142%206.35607322%2C11.9948725%20L3.02491697%2C8.8138662%20C2.66090143%2C8.46625845%202.65798871%2C7.89594698%203.01850234%2C7.54483354%20C3.373942%2C7.19866177%203.94940006%2C7.19592841%204.30829608%2C7.5386474%20L6.85276923%2C9.9684299%20L11.5703186%2C3.14417309%20Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A")
}

.tox-checklist {
    margin-left: 22px;
}

body.mce-content-body {
    padding:10px 30px;
}

.mce-content-body {
    font-family: var(--primary-font-family);
}

.mce-content-body h1,
.mce-content-body h2,
.mce-content-body h3,
.mce-content-body h4,
.mce-content-body h5 {
    font-weight: normal;
    line-height: normal;
    color:var(--primary-color);
    margin-top:25px;
}


.mce-content-body  h1 { font-size:var(--font-size-xxl); padding:5px 0px 10px 0px;}
.mce-content-body  h2 { font-size:var(--font-size-xl); padding:5px 0px 10px 0px;}
.mce-content-body  h3 { font-size:var(--font-size-l); padding:5px 0px 10px 0px;}
.mce-content-body  h4 { font-size:var(--base-font-size); font-weight:bold; padding:5px 0px 5px 0px;}
.mce-content-body  h5 { font-size:var(--base-font-size); font-weight:bold; padding:5px 0px 5px 0px;}

.mce-content-body  ol,
.mce-content-body  ul {
    margin-left:15px;
    margin-bottom:15px;
}

.mce-content-body table td {
    padding:5px;
}

.mce-content-body  p {
    margin-bottom:15px;
}





