.mce-content-body  {
    font-size:13px;
}

body .tox-tinymce {
    border-radius:3px;
    z-index: 8;
}

body .tox .tox-toolbar,
body .tox .tox-toolbar__overflow,
body .tox .tox-toolbar__primary,
body .tox .tox-edit-area{
    border-top:0px;
}

.tox-statusbar {
    display:none;
}

body .tox-editor-header {
    border-bottom:1px solid #ccc !important;
}



body .tox .tox-mbtn,
body .tox .tox-collection__item-label {
    font-size:var(--base-font-size);
    font-family: var(--primary-font-family);
}

body .tox .tox-mbtn--active {
    background:var(--secondary-action-bg);
}