RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]

RewriteRule ^resetPassword$ /index.php?resetPassword=true
RewriteRule ^resetPassword/([^/\.]+)/?$ /index.php?resetPassword=true&hash=$1

RewriteRule ^install$ /index.php?install=true
RewriteRule ^install/([^/\.]+)/?$ /index.php?install=true

RewriteRule ^/?$ /index.php?act=dashboard.show
RewriteRule ^([^/\.]+)/([^/\.]+)/?$ /index.php?act=$1.$2 [NC]
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ /index.php?act=$1.$2&id=$3
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ /index.php?act=$1.$2&id=$3&id2=$4




