RewriteEngine On

#Uncomment and update if Leantime runs in a subfolder
#RewriteBase /leantime/

RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]

RewriteRule ^resetPassword$ index.php?resetPassword=true
RewriteRule ^resetPassword/([^/\.]+)/?$ index.php?resetPassword=true&hash=$1

RewriteRule ^install$ index.php?install=true
RewriteRule ^install/([^/\.]+)/?$ index.php?install=true

RewriteRule ^update index.php?update=true
RewriteRule ^update/([^/\.]+)/?$ index.php?update=true

RewriteRule ^/?$ index.php?act=dashboard.show
RewriteRule ^([^/\.]+)/([^/\.]+)/?$ index.php?act=$1.$2 [QSA]
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ index.php?act=$1.$2&id=$3 [QSA]




