<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Leantime URL Rewrite 1 (HTMX)">
                    <match url="^hx/([^/\.]+)/?$" />
                    <action type="Rewrite" url="/index.php?fragment={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Leantime URL Rewrite 2">
                    <match url="^/?$" />
                    <action type="Rewrite" url="/index.php?act=dashboard.show" />
                </rule>
                <rule name="Leantime URL Rewrite 3">
                    <match url="^([^/\.]+)/?$" />
                    <action type="Rewrite" url="/index.php?act={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Leantime URL Rewrite 4">
                    <match url="^([^/\.]+)/([^/\.]+)/?$" />
                    <action type="Rewrite" url="/index.php?act={R:1}.{R:2}" appendQueryString="true" />
                </rule>
                <rule name="Leantime URL Rewrite 5">
                    <match url="^([^/\.]+)/([^/\.]+)/([^/\.]+)/?$" />
                    <action type="Rewrite" url="/index.php?act={R:1}.{R:2}&amp;id={R:3}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
