<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Prevent direct access to certain directories -->
                <rule name="Protect Directories" stopProcessing="true">
                    <match url="^(app|cache|config|custom|node_modules|public|tests|vendor)/" />
                    <action type="Rewrite" url="index.php" />
                </rule>

                <!-- Allow direct access to files in public directory -->
                <rule name="Allow Public Files" stopProcessing="true">
                    <match url="^(css|js|images|fonts|assets|uploads|dist|favicon\.ico|robots\.txt|healthCheck\.php|download\.php)(.*)$" />
                    <action type="None" />
                </rule>

                <!-- HTMX fragment handling -->
                <rule name="HTMX Fragment Handling" stopProcessing="true">
                    <match url="^hx/([^/\.]+)/?$" />
                    <action type="Rewrite" url="/index.php?fragment={R:1}" appendQueryString="true" />
                </rule>

                <!-- API routes -->
                <rule name="API Routes" stopProcessing="true">
                    <match url="^api/(.*)$" />
                    <action type="Rewrite" url="/index.php?act=api.{R:1}" appendQueryString="true" />
                </rule>

                <!-- Plugin routes -->
                <rule name="Plugin Routes" stopProcessing="true">
                    <match url="^plugins/(.*)$" />
                    <action type="Rewrite" url="/plugins/{R:1}" />
                </rule>

                <!-- Standard routes -->
                <rule name="Default Route" stopProcessing="true">
                    <match url="^/?$" />
                    <action type="Rewrite" url="/index.php" />
                </rule>

                <rule name="Controller Action Routes" stopProcessing="true">
                    <match url="^([^/\.]+)/([^/\.]+)/?$" />
                    <action type="Rewrite" url="/index.php?act={R:1}.{R:2}" appendQueryString="true" />
                </rule>

                <rule name="Controller Action Routes with ID" stopProcessing="true">
                    <match url="^([^/\.]+)/([^/\.]+)/([^/\.]+)/?$" />
                    <action type="Rewrite" url="/index.php?act={R:1}.{R:2}&amp;id={R:3}" appendQueryString="true" />
                </rule>

                <!-- Catch all rule - send everything else to index.php -->
                <rule name="Catch All" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="/index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
