body .btn,
body .btn-sm {
    @apply text-sm font-medium;
}

.btn-link {
    @apply no-underline;
}

.btn-ghost {
}

.caret{
    display:inline-block;
    width:0;
    height:0;
    vertical-align:top;
    border-top:4px solid #000000;
    border-right:4px solid transparent;
    border-left:4px solid transparent;
    content:"";
}

