.projectBox {

    @apply p-md shadow-sm mb-

    border:1px solid var(--main-border-color);
    border-radius:var(--rounded-element);
    box-shadow:var(--regular-shadow);
    padding:10px;
    margin-bottom:15px;
    background:var(--kanban-card-bg);

    small {
        color:var(--kanban-col-title-color);
    }

    .lastStatus [class*="commentStatus-"]{
        padding-left:10px;
    }

    .projectAvatar {
        width:50px;
        height:50px;
        float:left;
        margin-right:10px;
        text-align:center;
        border-radius:var(--box-radius-small);
        background:var(--element-gradient);

        img {
            width:50px;
            border-radius:var(--box-radius-small);
        }

        .fa {
            color:var(--main-action-color);
            font-size: 23px;
            line-height: 50px;
        }
    }
}
