.minCalendar #calendar {
    padding-top:10px;
    position: relative;
    z-index:5;
}


.minCalendar .fc .fc-toolbar-title {
    font-size: var(--font-size-xl);
}

.minCalendar .fc .fc-multimonth {
    height:100%;
}

.minCalendar .fc .fc-multimonth,
.minCalendar .fc-theme-standard td, .fc-theme-standard th{
    border:none;
}

.minCalendar .fc .fc-daygrid-day-top {
    flex-direction: column;
    text-align:center;
}

.minCalendar .fc .fc-daygrid-day-bottom {
    text-align:center;
    margin-top:-10px !important;
}

.minCalendar .fc .fc-daygrid-more-link {
    font-size:0px;
    float:none;
}

.minCalendar .fc .fc-daygrid-more-link:after {
    content: "•";
    font-size:30px;
}

.minCalendar .fc .fc-multimonth-title {
    padding:0px 0px 10px 0px;
    text-align:left;
    font-size: var(--font-size-xl);
    font-weight:normal;
    display:none;
}

.minCalendar .fc .fc-multimonth-singlecol .fc-multimonth-header {
    background:none;
}

.minCalendar .fc-theme-standard th.fc-col-header-cell:first-child {
    border-radius:10px 0px 0px 0px;
}

.minCalendar .fc-theme-standard th.fc-col-header-cell:last-child {
    border-radius:0px 10px 0px 0px;
}

.minCalendar .fc-theme-standard .fc-popover {
    border-radius:var(--box-radius);
    max-width: 60%;
}

.minCalendar .fc-popover-body  .fc-h-event .fc-event-title-container {
    padding-left:5px;
}

.minCalendar .fc-popover-body  .fc-event {
    margin-bottom:2px;
    margin-left:0px !important;
}

.minCalendar .fc-popover-body .fc-daygrid-event {
    border-radius:0px !important;
}

.minCalendar .fc .fc-daygrid-day.fc-day-today {
    border-radius:var(--element-radius);
}

.minCalendar .fc .fc-multimonth-daygrid {
    background:var(--layered-background);
}

.minCalendar .fc-multimonth-daygrid-table .fc-daygrid-day-events .fc-daygrid-event-harness {

}

.maincontent .fc .fc-timegrid-col.fc-day-today,
.maincontent .fc .fc-daygrid-day.fc-day-today,
.maincontent  .fc .fc-button-primary {
    background-color: var(--col-title-bg);
    color:var(--primary-font-color);
    border-radius: var(--element-radius) !important;
}

.maincontent .fc .fc-day-today .fc-daygrid-day-number {
    color:var(--main-action-color);
    background:var(--accent1);
    border-radius: var(--element-radius) !important;
}


.maincontent .fc .fc-button-primary:focus,
.maincontent .fc .fc-button-primary:active {
    box-shadow: none;
}

.maincontent .fc .fc-button-primary:not(:disabled).fc-button-active,
.maincontent .fc .fc-button-primary:not(:disabled):active,
.maincontent .fc .fc-button-primary:not(:disabled):hover {
    background:var(--secondary-action-hover-bg);
    color:var(--secondary-action-hover-color);
}

.maincontent .fc-multimonth-header-table .fc-col-header-cell {
    padding:5px;
}

.maincontent .fc-list-event {
    background:var(--secondary-background);

}

.maincontent .fc-list-event td {
    padding:5px;
}

.maincontent .fc-list-event td.fc-list-event-time {
    padding-left:15px;
}

.maincontent .fc-v-event {
    border:none;
    border-left:5px solid var(--fc-event-border-color);
}

.maincontent .fc-v-event .fc-event-main-frame {
    padding-left:5px;
}

.maincontent .fc-timegrid-event {
    border-radius: var(--element-radius);
}

.maincontent .fc-timegrid-event-harness-inset .fc-timegrid-event,
.maincontent .fc-timegrid-event.fc-event-mirror {
    box-shadow:var(--regular-shadow);
}

.maincontent .fc-timegrid-event .fc-event-main {
    padding: 3px 1px 0px;
}

.maincontent .fc-event.locked:after {
    content: "🔒";
    background:var(--layered-background);
    padding: 1px 4px;
    top: 2px;
    border-radius: 50%;
    position: absolute;
    right: 2px;
}

.maincontent tr.fc-event {
    position:relative;
}


.widgetContent .fc-list-event,
.widgetContent .fc .fc-multimonth-daygrid,
.widgetContent .fc-view,
.widgetContent .fc .fc-scrollgrid-section-sticky > *,
.widgetContent .fc-timegrid-slot-label,
.widgetContent .fc .fc-timegrid-col.fc-day-today,
.widgetContent .fc .fc-daygrid-day.fc-day-today,
.widgetContent .fc .fc-button-primary,
.widgetContent table.fc-col-header th {
    background:transparent !important;
}

.widgetContent .fc-view,
.widgetContent .fc .fc-scrollgrid {
    border:none;
}
