.commentlist {
    list-style: none;
    clear: both;
}

.commentlist li {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.commentlist li img {
    width: 60px;
}

.commentlist li .comment-info {
    margin-left: 80px;
}

.commentlist li p:last-child {
    margin-bottom: 0;
}

.commentlist li .btn {
    margin-right: 3px;
}

.commentlist li .btn span {
    margin-right: 5px;
}


.commentBox textarea {
    width: 80%;
    height: 70px;
}

.commentMain {
    width:calc(100% - 50px);
    margin-bottom:10px;
    float:left;
}

.commentContent {
    background:var(--layered-background);
    border: 1px solid var(--main-border-color);
    border-radius:var(--box-radius);
    width:100%;
    padding:12px 15px;
    font-size:var(--base-font-size);
}

.commentContent.statusUpdate {
    background:var(--layered-background);
    border: 1px solid var(--main-border-color);
}

.commentContent.statusUpdate h3 {
    margin-bottom:8px;
    font-weight: bold;
}

.commentContent .text {
    text-align:left;
    margin: 0;
}

#mainToggler {
    margin-bottom:15px;
    display:block;
}

.commentContent .name {
    font-weight:bold;
    display:block;
    margin-bottom:5px;
}

.commentContent .commentDate {
    font-size:var(--font-size-s);
    padding-top: 1px;
}

.commentImage {
    margin-top:0px;
    float:left;
    margin-right:10px;

}

.commentImage img {
    border-radius:50%;
    width:38px;
    height:38px;
    border:1px solid var(--main-border-color);
    background:var(--secondary-background);
}
.commentLinks {
    padding-left:15px;
}

.commentLinks a {
    display:inline-block;
    margin-right:10px;
    margin-bottom:10px;
    font-size:var(--font-size-s);
}

.commentMain .replies {
}

.commentMain .replies .commentMain{
    margin-bottom:0px;
}

.commentMain .replies .commentMain:last-child {
    margin-bottom:0px;
}

.commentReply {
    width:calc(100% - 50px);
    float:left;
}

.commentReply input[type="submit"] {
    margin-top:10px;
    margin-bottom:20px;
}

.commentReply input[type="button"] {
    margin-top:10px;
    margin-bottom:20px;
}


