/* Ticket Labelled dropdowns */

.dropdown-menu {
    margin-top: 0;
    border-radius: var(--box-radius);
    border: 1px solid var(--glass-border);
    padding: 8px 0;
    background: var(--glass-bg);
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: var(--glass-blur);
    box-shadow: var(--glass-inset), var(--regular-shadow);
}

.bigMenu ul li {
    list-style-type: none;
}

.dropdown-menu > li > a,
.bigMenu ul li a,
.dropdown-menu > li > .dropdown-item-wrapper {
    font-size: var(--base-font-size);
    color:var(--primary-font-color);
    margin: 0;
    padding: 10px 12px;
    min-height: 44px;
    display: flex;
    align-items: center;
    border-radius: 0px;
}
.pagetitle .dropdown-menu > li > a {
    color:var(--primary-font-color);
    text-decoration:none;
}


.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: var(--dropdown-link-hover-color);
    background:var(--dropdown-link-hover-bg);
}

.dropdownTabs {
    padding:4px;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    flex-wrap: wrap;

    align-content: space-between;
    border-bottom:1px solid var(--main-border-color);
}

.dropdownTabs a {

}

.dropdownTabs a:hover {
    text-decoration: none;
}



.maincontentinner .viewDropDown .dropdown-menu > li > a:hover .muted,
body .maincontentinner .viewDropDown .dropdown-menu li a.active,
.dropdown-menu > li > a.active,
.dropdown ul li.active a{
    color: var(--dropdown-link-hover-color);
    background:var(--dropdown-link-hover-bg);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.bigMenu ul li a,
.bigMenu ul li a:hover,
.bigMenu ul li a:focus {
    color: var(--dropdown-link-hover-color) !important;
    background:var(--dropdown-link-hover-bg) !important;
}

.dropdown-menu > li > a:hover small,
.dropdown-menu > li > a:focus small,
.dropdown-submenu:hover > a small,
.dropdown-submenu:focus > a small,
.bigMenu ul li a small,
.bigMenu ul li a:hover small,
.bigMenu ul li a:focus small {
    color: var(--dropdown-link-hover-color) !important;
}


.dropdown-menu .nav-header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:4px;
    font-size:var(--font-size-m);
    color:var(--interactive-icon-color);
    text-transform:none;
}

.ticketDropdown.show {
    display:inline-block;
}

.ticketDropdown {
    font-size:var(--font-size-m);

}

.ticketDropdown ul,
.ticketDropdown ul li a{
    top: 22px;
    font-size:var(--font-size-m);
}

.ticketDropdown.userDropdown {
    margin-top:-2px;
}

.ticketDropdown.userDropdown ul {
    top: 33px;
    left: 6px;
}

.dropRight ul,
.ticketDropdown.userDropdown.dropRight ul{
    right:0px;
    left:auto;
}

.maincontent .ticketDropdown > a,
.maincontent .ticketDropdown > a:link,
#global-modal-content .ticketDropdown > a,
#global-modal-content .ticketDropdown > a:link{
    color:var(--primary-background);
    padding:0px 10px;
    white-space: nowrap;
    border-radius:var(--box-radius-large);
    margin-left:0px;
    box-shadow:var(--min-shadow);
}

.maincontent .ticketDropdown.userDropdown > a,
.maincontent .ticketDropdown.userDropdown > a:link,
#global-modal-content .ticketDropdown.userDropdown > a,
#global-modal-content .ticketDropdown.userDropdown > a:link {
    padding-left:0px;
}

.maincontent .ticketDropdown.firstDropdown > a {
    margin-left:0px;
}

.maincontent .ticketDropdown.lastDropdown > a {
    padding-right:0px;
}

.maincontent .ticketDropdown > a:hover,
.maincontent .ticketDropdown > a:focus {
    text-decoration: none;
}


.maincontent .ticketDropdown.colorized li a,
#global-modal-content .ticketDropdown.colorized li a{
    color:var(--primary-background);
}

.maincontent .ticketDropdown.noBg {
    background:transparent;


}

.maincontent .ticketDropdown.noBg a {
    box-shadow: none;
}

.maincontent .ticketDropdown.noBg >a img {
    margin-top:-1px;
}

.maincontent .dropdown img {
    width:23px;
    border-radius: var(--input-radius);
    border: 1px solid var(--neutral);
    margin-top:1px;
    padding:1px;
}


.maincontent .ticketDropdown.noBg >a:hover {
    color:var(--primary-font-color);
}

.maincontent .ticketDropdown.noBg >a:hover img {
    border-color:var(--dropdown-link-hover-bg) !important
}

.maincontent .ticketDropdown ul li a[class*="label-"],
#global-modal-content .ticketDropdown ul li a[class*="label-"] {
    padding: 4px 10px;
    display:block;
}

.maincontent .ticketDropdown a.label-warning,
#global-modal-content .ticketDropdown a.label-warning,
.label-warning,
.label-yellow{
    background:var(--yellow);
    color:var(--yellow-text-color);
}

.maincontent .ticketDropdown a.label-info,
#global-modal-content .ticketDropdown a.label-info{
    background:var(--dark-blue);
    color:var(--dark-blue-text-color);
}

.maincontent .ticketDropdown a.label-important,
#global-modal-content .ticketDropdown a.label-important,
.label-important{
    background:var(--red);
    color:var(--red-text-color);
}

.maincontent .ticketDropdown a.label-danger,
#global-modal-content .ticketDropdown a.label-danger,
.label-danger,
.label-red{
    background:var(--dark-red);
    color:var(--dark-red-text-color);
}

.maincontent .ticketDropdown a.label-success,
#global-modal-content .ticketDropdown a.label-success,
.label-success,
.label-green {
    background:var(--green);
    color:var(--green-text-color);
}

.maincontent .ticketDropdown a.label-default,
#global-modal-content .ticketDropdown a.label-default,
.label-default{
    background: var(--grey);
    color:var(--grey-text-color);
}

.maincontent .ticketDropdown a.label-default.milestone,
#global-modal-content .ticketDropdown a.label-default.milestone {
    color:var(--blue-text-color);
}

.maincontent .ticketDropdown a.label-purple,
#global-modal-content .ticketDropdown a.label-purple{
    background:var(--purple);
    color:var(--purple-text-color);
}

.maincontent .ticketDropdown a.label-pink,
#global-modal-content .ticketDropdown a.label-pink{
    background:var(--pink);
    color:var(--pink-text-color);
}

.maincontent .ticketDropdown a.label-brown,
#global-modal-content .ticketDropdown a.label-brown{
    background:var(--brown);
    color:var(--brown-text-color);
}

.maincontent .ticketDropdown a.label-blue,
#global-modal-content .ticketDropdown a.label-blue{
    background:var(--blue);
    color:var(--blue-text-color);
}

.maincontent .ticketDropdown a.label-dark-blue,
#global-modal-content .ticketDropdown a.label-dark-blue{
    background:var(--dark-blue);
    color:var(--dark-blue-text-color);
}

.maincontent .ticketDropdown a.label-darker-blue,
#global-modal-content .ticketDropdown a.label-darker-blue{
    background:var(--darker-blue);
    color:var(--darker-blue-text-color);
}

.maincontent .ticketDropdown a.label-green,
#global-modal-content .ticketDropdown a.label-green{
    background:var(--green);
    color:var(--green-text-color);
}

.maincontent .ticketDropdown a.label-dark-green,
#global-modal-content .ticketDropdown a.label-dark-green{
    background:var(--dark-green);
    color:var(--dark-green-text-color);
}

.maincontent .ticketDropdown a.label-red,
#global-modal-content .ticketDropdown a.label-red{
    background:var(--red);
    color:var(--red-text-color);
}

.maincontent .ticketDropdown a.label-dark-red,
#global-modal-content .ticketDropdown a.label-dark-red{
    background:var(--dark-red);
    color:var(--dark-red-text-color);
}

.maincontent .ticketDropdown a.label-grey,
#global-modal-content .ticketDropdown a.label-grey{
    background:var(--grey);
    color:var(--grey-text-color);
}

.maincontent .ticketDropdown a.label-default.effort,
#global-modal-content .ticketDropdown a.label-default.effort{
    background:var(--secondary-background);
    color:var(--primary-font-color);
}

.maincontent .ticketDropdown ul li,
#global-modal-content .ticketDropdown ul li {
    margin-bottom:1px;
    padding:0px 10px;
}

.maincontent .ticketDropdown.milestoneDropdown li a:hover{
    background: var(--dropdown-link-hover-bg) !important;
    color: var(--dropdown-link-hover-color) !important;
}

.maincontent .accordionTitle {
    font-size: var(--font-size-l);
    color: var(--primary-font-color);
    margin-bottom: 10px;
    font-weight:var(--font-weight-bold);
    margin-left:0px;
    border-radius: var(--accordion-header-radius);
    padding: 4px 0px;
}

.maincontent .noBackground .accordionTitle {
    color: var(--main-titles-color);
}

.maincontent .accordionTitle i {
    display:inline-block;
    width:16px;
    text-align:center;
    margin-right:4px;
    border-radius:var(--box-radius-small);
}

.maincontent .accordionTitle:hover i,
.maincontent .accordionTitle i:hover {
    background:var(--col-hover-bg);
    color:var(--interactive-icon-color);
}

.maincontent .accordionTitle[class*="label-"] {
    margin-left:0px;
    border-radius: var(--accordion-header-radius);
    padding: 4px 0px;
    background: none;
}

.maincontent .accordionTitle.label-warning a{
    background:none;
    color:var(--yellow);
}

.maincontent .accordionTitle.label-important a {
    background:none;
    color:var(--red);
}

.maincontent .accordionTitle.label-info a {
    background:none;
    color:var(--dark-blue);
}

.maincontent .accordionTitle.label-danger a {
    background:none;
    color:var(--dark-red);
}

.maincontent .accordionTitle.label-success a {
    background:none;
    color:var(--green);
}

.maincontent .accordionTitle.label-default a {
    background:none;
    color:var(--grey);
}

.simpleAccordionContainer {
    margin-bottom:16px;
    padding-left: 20px;
}

.simpleAccordionContainer.kanban {
    padding-left:0px;
}

.maincontent .accordionTitle .accordion-toggle i.fa:first-child {
    width: 16px;
    margin-top: 0px;
    margin-right: 4px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: var(--element-radius);
    font-size: var(--font-size-m);
}

.maincontent .accordionTitle .accordion-toggle i.fa:first-child:hover {
    background: var(--main-menu-link-active-bg);
}


.ticketDropdown ul::after {
    position: absolute;
    top:-6px;
    left: 10px;
    transform: rotate(0deg);
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    content: '';
}

.dropdown-menu.pull-right::after {
    right: 10px;
    left:auto;
}

.tabbedwidget .dropdown-menu.pull-left,
.mainwrapper .dropdown-menu.pull-left {
    left: 10px;
    right:auto;
}

.viewDropDown .dropdown-menu {
    right:0px;
    left:auto;
}

.viewDropDown .dropdown-menu li a.active{

}

.viewDropDown .dropdown-menu li a.active:hover {
    color:var(--primary-background);
}

.dropdown-menu span.radio input[type="radio"] {
    float:left;
    vertical-align: middle;
    margin-top: 8px;
    margin-right:4px;
}

.dropdown-menu span.radio {
    display:block;
    font-size: var(--font-size-s);
    color: var(--main-menu-link-color);
    margin: 0px;
    padding: 4px 10px;
}

.dropdown-menu span.radio:hover {
    color: var(--dropdown-link-hover-color);
    background:var(--dropdown-link-hover-bg);
}

.dropdown-menu span.radio label {
    display:inline-block;
    width:100%;
}

/* Radio component inside dropdown menus */
.dropdown-menu label.tw\:label {
    padding: 4px 16px;
    gap: 8px;
    margin: 0;
}

.dropdown-menu label.tw\:label:hover {
    color: var(--dropdown-link-hover-color);
    background: var(--dropdown-link-hover-bg);
}

.dropdown-menu .tw\:label-text {
    color: var(--primary-font-color);
    font-size: var(--base-font-size);
}

.dropdown-menu .tw\:radio {
    width: 20px;
    height: 20px;
    min-height: auto;
}

.wikiSelect {
    margin-bottom:4px;
}

.dropdown-menu.iconpicker-container,
.iconpicker-popover.popover {
    width:215px;
    min-width:215px;
}

.iconpicker-popover .popover-title {
    display:none;
}

.btn-group .btn.titleIconPicker {
    font-size: var(--font-size-xl);
    line-height: 21px;
    padding: 4px 6px;
    color: var(--primary-font-color);
    background-color: var(--secondary-background);
    border: 1px solid var(--secondary-background);
    border-radius: var(--box-radius-small);
}

.btn-group .btn.titleIconPicker:hover {
    border: 1px solid var(--main-border-color);
}

.btn-group .btn.titleIconPicker .caret,
.btn-group .btn.titleIconPicker .caret,
.btn-group .btn.titleIconPicker:last-child .caret,
.btn-group >.btn.titleIconPicker.dropdown-toggle .caret {
    border-top-color: var(--primary-font-color);
}

.btn-group .btn.titleIconPicker:hover .caret,
.btn-group .btn.titleIconPicker:hover .caret,
.btn-group .btn.titleIconPicker:last-child:hover .caret,
.btn-group >.btn.titleIconPicker.dropdown-toggle:hover .caret {
    border-top-color: var(--secondary-action-hover-color);
}

.inlineDropDownContainerLeft {
    float:left;
    display:inline-block;
}

.pagetitle .header-title-dropdown {
    border: 1px solid transparent;
    display:inline-block;
    background:transparent;
    width:auto;
    color: var(--main-titles-color);
    text-decoration:underline;
    padding:0px 4px ;
    border-radius: var(--box-radius-small);
}

.pagetitle .header-title-dropdown .fa {
    padding-left:10px;
}

.pagetitle .header-title-dropdown:hover {
    border: 1px solid var(--main-titles-color);
}

.dropdownWrapper {
    position:relative;
}

.dropdownWrapper .border {
    border-top:1px solid var(--neutral);
}

.headerEditDropdown {
    float:right;
    padding-top:20px;
}

.pagetitle .btn-transparent {
    background:transparent;
    color:var(--main-titles-color);
    border:1px solid var(--main-action-color);
    font-size:var(--font-size-l);
}

.headerEditDropdown .dropdown-toggle {
    padding:4px 12px;
}

.editCanvasDropdown {
    right:0px;
    left:auto;
}


.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background:var(--main-menu-link-active-bg);
    color:var(--main-menu-link-active-color);
}

.dropdown-menu .scroll-wrapper {
    height:700px;
    overflow:scroll;
}

.inlineDropDownContainer {
    float:right;
    position:relative;
}

.inlineDropDownContainer > a {
    color: var(--secondary-font-color);
    width: 24px;
    line-height: 20px;
    text-align: center;
    padding-top: 1px;
    border-radius: var(--box-radius-small);
}

.inlineDropDownContainer > a.btn {
    width:auto;
}

.inlineDropDownContainer > a:last-child {
    margin-right:-4px;
}

.inlineDropDownContainer > a:hover {
    color: var(--accent1);
    background: var(--col-hover-bg);
}

.inlineDropDownContainer .ticketDropDown {
    float:right;
    font-size: var(--font-size-xl);
    color: var(--interactive-icon-color);
    margin-right:-4px;
}

.inlineDropDownContainer .dropdown-menu {
    right:0px;
    left:auto;
}

.inlineDropDownContainer.dropright .dropdown-menu {

    left:-4px;
}

.inlineDropDownContainer .dropdown-menu .border {
    border-top:1px solid var(--neutral);
}

.inlineDropDownContainer .dropdown-menu li>span {
    padding-left:16px;
}

.grid-stack-item-content .inlineDropDownContainer .ticketDropDown,
.grid-stack-item-content .grid-handler-top{
    color:var(--main-action-color);
}

.grid-stack-item-content.maincontentinner .inlineDropDownContainer .ticketDropDown,
.grid-stack-item-content.maincontentinner .grid-handler-top {
    color: var(--interactive-icon-color);
}
