/* Ticket Labelled dropdowns */

/*.dropdown-menu {*/
/*    margin-top: 0;*/
/*    border-radius: var(--box-radius);*/
/*    border:0px;*/
/*    padding: 8px 0;*/
/*    box-shadow: var(--regular-shadow);*/
/*    background:var(--secondary-background);*/
/*}*/

.bigMenu ul li {
    list-style-type: none;
}

.dropdown-menu > li > a,
.bigMenu ul li a{
    color:var(--primary-font-color);
    margin: 0;
    padding: 5px 10px;
    border-radius: 0px;
}



.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: var(--dropdown-link-hover-color);
    background:var(--dropdown-link-hover-bg);
}

.dropdownTabs {
    padding:5px;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    flex-wrap: wrap;

    align-content: space-between;
    border-bottom:1px solid var(--main-border-color);
}

.dropdownTabs a {

}

.dropdownTabs a:hover {
    text-decoration: none;
}



/*.maincontentinner .viewDropDown .dropdown-menu > li > a:hover .muted,*/
/*body .maincontentinner .viewDropDown .dropdown-menu li a.active,*/
/*.dropdown-menu > li > a.active,*/
/*.dropdown ul li.active a {*/
/*    color: var(--dropdown-link-hover-color);*/
/*    background:var(--dropdown-link-hover-bg);*/
/*}*/

/*.dropdown-menu > li > a:hover,*/
/*.dropdown-menu > li > a:focus,*/
/*.dropdown-submenu:hover > a,*/
/*.dropdown-submenu:focus > a,*/
/*.bigMenu ul li a,*/
/*.bigMenu ul li a:hover,*/
/*.bigMenu ul li a:focus {*/
/*    color: var(--dropdown-link-hover-color) !important;*/
/*    background:var(--dropdown-link-hover-bg) !important;*/
/*}*/

/*.dropdown-menu > li > a:hover small,*/
/*.dropdown-menu > li > a:focus small,*/
/*.dropdown-submenu:hover > a small,*/
/*.dropdown-submenu:focus > a small,*/
/*.bigMenu ul li a small,*/
/*.bigMenu ul li a:hover small,*/
/*.bigMenu ul li a:focus small {*/
/*    color: var(--dropdown-link-hover-color) !important;*/
/*}*/


/*.dropdown .dropdown-menu .nav-header {*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*    font-size:var(--font-size-m);*/
/*    color:var(--primary-font-color);*/
/*    text-transform:none;*/
/*}*/

.ticketDropdown.show {
    display:inline-block;
}

.ticketDropdown {
    font-size:var(--font-size-m);

}

.ticketDropdown ul,
.ticketDropdown ul li a{
    top: 22px;
    font-size:var(--font-size-m);
}

.ticketDropdown.userDropdown {
    margin-top:-2px;
}

.ticketDropdown.userDropdown ul {
    top: 33px;
    left: 6px;
}

.dropRight ul,
.ticketDropdown.userDropdown.dropRight ul{
    right:0px;
    left:auto;
}

.maincontent .ticketDropdown > a,
.maincontent .ticketDropdown > a:link,
.nyroModalCont .ticketDropdown > a,
.nyroModalCont .ticketDropdown > a:link{
    color:#fff;
    padding:0px 10px;
    white-space: nowrap;
    border-radius:var(--box-radius-large);
    margin-left:0px;
    box-shadow:var(--min-shadow);
}

.maincontent .ticketDropdown.userDropdown > a,
.maincontent .ticketDropdown.userDropdown > a:link,
.nyroModalCont .ticketDropdown.userDropdown > a,
.nyroModalCont .ticketDropdown.userDropdown > a:link {
    padding-left:0px;
}

.maincontent .ticketDropdown.firstDropdown > a {
    margin-left:0px;
}

.maincontent .ticketDropdown.lastDropdown > a {
    padding-right:0px;
}

.maincontent .ticketDropdown > a:hover,
.maincontent .ticketDropdown > a:focus {
    text-decoration: none;
}


.maincontent .ticketDropdown.colorized li a,
.nyroModalCont .ticketDropdown.colorized li a{
    color:#fff;
}

.maincontent .ticketDropdown.noBg {
    background:transparent;


}

.maincontent .ticketDropdown.noBg a {
    box-shadow: none;
}

.maincontent .ticketDropdown.noBg >a img {
    margin-top:-1px;
}

.maincontent .dropdown img {
    width:23px;
    border-radius: 12px;
    border: 1px solid var(--neutral);
    margin-top:1px;
    padding:1px;
}


.maincontent .ticketDropdown.noBg >a:hover {
    color:#000;
}

.maincontent .ticketDropdown.noBg >a:hover img {
    border-color:var(--dropdown-link-hover-bg) !important
}

.maincontent .ticketDropdown ul li a[class*="label-"],
.nyroModalCont .ticketDropdown ul li a[class*="label-"] {
    padding: 5px 10px;
    display:block;
}

.chosen-results li[class*=" label-"] {
    color:#fff;
}

.chosen-results li[class*=" label-"]:hover {
    color:#555;
}

.chosen-results li.label-warning,
.maincontent .ticketDropdown a.label-warning,
.nyroModalCont .ticketDropdown a.label-warning,
.label-warning,
.label-yellow,
.simpleStatus-bg-yellow,
.dropdown-menu > li > a.simpleStatus-bg-yellow {
    background:var(--yellow);
    color:var(--yellow-text-color);
}

.chosen-results li.label-info,
.maincontent .ticketDropdown a.label-info,
.nyroModalCont .ticketDropdown a.label-info,
.simpleStatus-bg-blue,
.dropdown-menu > li > a.simpleStatus-bg-blue {
    background:var(--dark-blue);
    color:var(--dark-blue-text-color);
}

.chosen-results li.label-important,
.maincontent .ticketDropdown a.label-important,
.nyroModalCont .ticketDropdown a.label-important,
.label-important {
    background:var(--red);
    color:var(--red-text-color);
}

.chosen-results li.label-danger,
.maincontent .ticketDropdown a.label-danger,
.nyroModalCont .ticketDropdown a.label-danger,
.label-danger,
.label-red,
.simpleStatus-bg-red,
.dropdown-menu > li > a.simpleStatus-bg-red {
    background:var(--dark-red);
    color:var(--dark-red-text-color);
}

.chosen-results li.label-success,
.maincontent .ticketDropdown a.label-success,
.nyroModalCont .ticketDropdown a.label-success,
.label-success,
.label-green,
.simpleStatus-bg-green,
.dropdown-menu > li > a.simpleStatus-bg-green {
    background:var(--green);
    color:var(--green-text-color);
}

.chosen-results li.label-default,
.maincontent .ticketDropdown a.label-default,
.nyroModalCont .ticketDropdown a.label-default,
.label-default,
.simpleStatus-bg-none,
.dropdown-menu > li > a.simpleStatus-bg-none {
    background: var(--grey);
    color:var(--grey-text-color);
}

.chosen-results li.label-default.milestone,
.maincontent .ticketDropdown a.label-default.milestone,
.nyroModalCont .ticketDropdown a.label-default.milestone {
    color:var(--blue-text-color);
}

.chosen-results li.label-purple,
.maincontent .ticketDropdown a.label-purple,
.nyroModalCont .ticketDropdown a.label-purple{
    background:var(--purple);
    color:var(--purple-text-color);
}

.chosen-results li.label-pink,
.maincontent .ticketDropdown a.label-pink,
.nyroModalCont .ticketDropdown a.label-pink{
    background:var(--pink);
    color:var(--pink-text-color);
}

.chosen-results li.label-brown,
.maincontent .ticketDropdown a.label-brown,
.nyroModalCont .ticketDropdown a.label-brown{
    background:var(--brown);
    color:var(--brown-text-color);
}

.chosen-results li.label-blue,
.maincontent .ticketDropdown a.label-blue,
.nyroModalCont .ticketDropdown a.label-blue{
    background:var(--blue);
    color:var(--blue-text-color);
}

.chosen-results li.label-dark-blue,
.maincontent .ticketDropdown a.label-dark-blue,
.nyroModalCont .ticketDropdown a.label-dark-blue{
    background:var(--dark-blue);
    color:var(--dark-blue-text-color);
}

.chosen-results li.label-darker-blue,
.maincontent .ticketDropdown a.label-darker-blue,
.nyroModalCont .ticketDropdown a.label-darker-blue{
    background:var(--darker-blue);
    color:var(--darker-blue-text-color);
}

.chosen-results li.label-green,
.maincontent .ticketDropdown a.label-green,
.nyroModalCont .ticketDropdown a.label-green{
    background:var(--green);
    color:var(--green-text-color);
}

.chosen-results li.label-dark-green,
.maincontent .ticketDropdown a.label-dark-green,
.nyroModalCont .ticketDropdown a.label-dark-green{
    background:var(--dark-green);
    color:var(--dark-green-text-color);
}

.chosen-results li.label-red,
.maincontent .ticketDropdown a.label-red,
.nyroModalCont .ticketDropdown a.label-red{
    background:var(--red);
    color:var(--red-text-color);
}

.chosen-results li.label-dark-red,
.maincontent .ticketDropdown a.label-dark-red,
.nyroModalCont .ticketDropdown a.label-dark-red{
    background:var(--dark-red);
    color:var(--dark-red-text-color);
}

.chosen-results li.label-grey,
.maincontent .ticketDropdown a.label-grey,
.nyroModalCont .ticketDropdown a.label-grey{
    background:var(--grey);
    color:var(--grey-text-color);
}

.maincontent .ticketDropdown a.label-default.effort,
.nyroModalCont .ticketDropdown a.label-default.effort{
    background:var(--secondary-background);
    color:var(--primary-font-color);
}

.maincontent .ticketDropdown ul li,
.nyroModalCont .ticketDropdown ul li {
    margin-bottom:1px;
    padding:0px 10px;
}

.maincontent .ticketDropdown.milestoneDropdown li a:hover{
    background: var(--dropdown-link-hover-bg) !important;
    color: var(--dropdown-link-hover-color) !important;
}

.ticketDropdown ul::after {
    position: absolute;
    top:-6px;
    left: 10px;
    transform: rotate(0deg);
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    border-left: 7px solid transparent;
    content: '';
}

.dropdown-menu.pull-right::after {
    right: 10px;
    left:auto;
}

.tabbedwidget .dropdown-menu.pull-left,
.mainwrapper .dropdown-menu.pull-left {
    left: 10px;
    right:auto;
}

.viewDropDown .dropdown-menu {
    right:0px;
    left:auto;
}

.viewDropDown .dropdown-menu li a.active{

}

.viewDropDown .dropdown-menu li a.active:hover {
    color:#fff;
}

.dropdown-menu span.radio input[type="radio"] {
    float:left;
    vertical-align: middle;
    margin-top: 9px;
    margin-right:5px;
}

.dropdown-menu span.radio {
    display:block;
    font-size: 12px;
    color: var(--main-menu-link-color);
    margin: 0px;
    padding: 5px 10px;
}

.dropdown-menu span.radio:hover {
    color: var(--dropdown-link-hover-color);
    background:var(--dropdown-link-hover-bg);
}

.dropdown-menu span.radio label {
    display:inline-block;
    width:100%;
}

.wikiSelect {
    margin-bottom:5px;
}

.dropdown-menu.iconpicker-container,
.iconpicker-popover.popover {
    width:215px;
    min-width:215px;
}

.iconpicker-popover .popover-title {
    display:none;
}

.inlineDropDownContainerLeft {
    float:left;
    display:inline-block;
}

.dropdownWrapper {
    position:relative;
}

.dropdownWrapper .border {
    border-top:1px solid var(--neutral);
}

.headerEditDropdown {
    float:right;
    padding-top:20px;
}

.headerEditDropdown .dropdown-toggle {
    padding:4px 13px;
    border-radius:50% !important;
}

.editCanvasDropdown {
    right:0px;
    left:auto;
}


.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background:var(--main-menu-link-active-bg);
    color:var(--main-menu-link-active-color);
}

.dropdown-menu .scroll-wrapper {
    height:700px;
    overflow:scroll;
}

.inlineDropDownContainer {
    float:right;
    position:relative;
}

.inlineDropDownContainer > a {
    color: #aaa;
    width: 24px;
    line-height: 20px;
    text-align: center;
    padding-top: 1px;
    border-radius: 5px;
}

.inlineDropDownContainer > a.btn {
    width:auto;
}

.inlineDropDownContainer > a:last-child {
    margin-right:-5px;
}

.inlineDropDownContainer > a:hover {
    color: var(--accent1);
    background: var(--col-hover-bg);
}

.inlineDropDownContainer .ticketDropDown {
    float:right;
    font-size: var(--font-size-xl);
    color: var(--interactive-icon-color);
    margin-right:-5px;
}

.inlineDropDownContainer .dropdown-menu {
    right:0px;
    left:auto;
}

.inlineDropDownContainer.dropright .dropdown-menu {

    left:-5px;
}

.inlineDropDownContainer .dropdown-menu .border {
    border-top:1px solid var(--neutral);
}

.inlineDropDownContainer .dropdown-menu li>span {
    padding-left:15px;
}

.grid-stack-item-content .inlineDropDownContainer .ticketDropDown,
.grid-stack-item-content .grid-handler-top{
    color:var(--main-action-color);
}

.grid-stack-item-content.maincontentinner .inlineDropDownContainer .ticketDropDown,
.grid-stack-item-content.maincontentinner .grid-handler-top {
    color: var(--interactive-icon-color);
}

.inlineLabelDropdown {

}

.inlineLabelDropdown label {
    display:inline-block;
    float:left;
    margin-right:5px;
}

.inlineLabelDropdown .dropdown {
    padding-top:5px;
}


.dropdown.dropdown-open .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
    z-index: 200;
}

