
input, button, select, textarea {
}

input:focus,
button:focus,
textarea:focus {
    outline:none;
    /* TODO: Figure out good focus outline */
    text-decoration: none;
}

form label{

}

form .switchery {
    margin-top:5px;
}

tox-edit-area, textarea,
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], .uneditable-input {
    height: auto;
    background-color: var(--secondary-background);
    line-height: var(--form-element-line-height);
    border: 1px solid var(--main-border-color);
    -webkit-box-shadow: var(--input-shadow);
    -moz-box-shadow: var(--input-shadow);
    box-shadow: var(--input-shadow);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    border-radius: var(--input-radius);
    padding: var(--input-padding);
    color:var(--primary-font-color);
}

input[type="text"]:read-only,
input:disabled {
    border:none;
    box-shadow:none;
    opacity:0.4;
}

body input:focus {
    border-color:var(--main-border-color-hover);
}



/* Tags */

body div.tagsinput {
    border:1px solid transparent;
    overflow:hidden;
}

body div.tagsinput:hover,
body div.tagsinput:focus,
body input[type=text].main-title-input.main-title-input:hover,
body input[type=text].main-title-input.main-title-input:focus{
    border: 1px solid var(--main-border-color-hover);
}

body div.tagsinput.readonly {
    display:inline-block;
    width:auto;
    padding:0px;
    border:0px !important;
    height:auto !important;
    background:none;
}

body .ticketBox div.tagsinput.readonly {
    background:none !important;
    margin-bottom:0px !important;
}

body div.tagsinput {
    background-color: var(--input-background);
    color:var(--primary-font-color);
    font-family: var(--primary-font-family);
    width:100% !important;
    height:auto !important;
    border-radius:var(--input-radius);
    box-shadow: none;
    padding:var(--input-padding);
    border:0px;
}

body div.tagsinput input {
    color:var(--primary-font-color) !important;
    width:auto;
    padding:0px;
    margin-bottom:0px;
    font-family: var(--primary-font-family);
}

body div.tagsinput span.tag {
    border-radius: 12px;
    padding: 0px 10px;
    border: 0px solid var(--primary-color);
}

div.tagsinput span.tag {
    font-size:var(--font-size-m);
}

div.tagsinput span.tag a {
    vertical-align: text-bottom;
}

.ss-main .ss-multi-selected {
    padding:var(--input-padding);
}

.ss-main .ss-multi-selected .ss-values,
.ss-main .ss-multi-selected .ss-disabled{
    padding:0px;
    height:21px; /* Equivalend to line height on tags input*/
}

.ss-main .ss-multi-selected .ss-values .ss-value {
    border-radius: 12px;
    padding: 0px 10px;
    margin: 0px;
    border: 0px solid var(--primary-color);
}





/* Safari */

/* Firefox */
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: var(--primary-font-color);
    opacity: 0.5;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
    color: var(--primary-font-color);
    opacity: 0.5;
    margin-left: -1px;
}

input::-moz-placeholder,
textarea::-moz-placeholder { /* Firefox 19+ */
    color: var(--primary-font-color);
    opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
    color: var(--primary-font-color);
    opacity: 0.5;
}




.assign-container {
    height: 205px;
    overflow: auto;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.stdform .assign-container label {
    width: auto;
}

.assign-container .checker {
    float: left;
}

.assign-container .half {
    width: 49%;
    margin-right: 1%;
    float: left;
    margin: 8px 0px;
}


/* Secondary Button */

.viewText {
    padding-right:5px;
}









.row-fluid.marginBottom,
.row.marginBottom{
    margin-bottom:15px;
}

.marginBottomMd {
    margin-bottom:15px;
}




.filterBoxLeft input[type="text"] {
    margin-right:10px;
}




input[type=color] {
    height:29px;
    padding:0px;
    width:29px;
    border:2px solid var(--main-border-color);
}

.assign-container {
    border: 1px solid var(--main-border-color);
    -webkit-box-shadow: var(--input-shadow);
    -moz-box-shadow: var(--input-shadow);
    box-shadow: var(--input-shadow);
}

.userBox {
    border:1px solid var(--main-border-color);
    border-radius: var(--box-radius);
    padding:10px;
    margin-bottom:10px;
}

.userBox .commentImage img{
    width:50px;
    height:50px;
    margin-top: 5px;
}

.userBox input[type=checkbox] {
    float:left;
    margin-right:15px;
    margin-top:23px;
}

.userBox label {
    display: inline-block;
    width:200px;
}

.userBox select,
.userBox input{
    margin-bottom:0px;

}

.backlogChartButtons,
.chartButtons{
    margin-left:5px !important;
}

body input[type=text].main-title-input.main-title-input {
    border: 1px solid transparent;
    box-shadow:none;
    font-size:var(--font-size-xxxl);
    margin-bottom:5px;
}

input.secretInput {
    border:0px;
    background:none;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom:0px;
    border: 1px solid transparent;
    margin-top:-1px;
    cursor:pointer;
    color:var(--primary-font-color);

}

input.secretInput:hover,
input.secretInput:focus,
input.secretInput:active {
    box-shadow: var(--input-shadow);
    border: 1px solid var(--main-border-color-hover);
    text-decoration:none;
}

.input-append .fa-file::before {
    font-family: "Font Awesome 6 Free";
    content: "\f15b";
    font-style: normal;
    margin-right:5px;
}

.uppy-Webcam-footer {
    width:400px;
}

.uploadWrapper .extra {
    height: 400px;
    width: 100%;
    display: flex;
    z-index:10000;
    display:none;
}

.extra .uppy-Root{
    flex-grow: 1;
}

.uppy-Webcam-videoContainer,
.uppy-ScreenCapture-videoContainer {
    background:var(--col-content-bg);
}

.uppy-Webcam-button svg,
.uppy-ScreenCapture-button svg{
    width:20px;
    height:20px;
}

.uppy-Webcam-button,
.uppy-ScreenCapture-button--video {
    background:var(--main-action-bg);
}

.uppy-FileInput-container {
    text-align:center;
}

.uppy-FileInput-btn {
    background:var(--main-action-bg);
    color:var(--main-action-color);
    border:1px solid var(--main-action-bg);
    font-family: var(--primary-font-family);
    padding: var(--input-padding);
    line-height: var(--form-element-line-height);
    border-radius: var(--element-radius);
    vertical-align: top;
}

.uppy-FileInput-btn:hover {
    background:var(--main-action-hover-bg);
    color:var(--main-action-hover-color);
}

.fileUploadDrop {
    border:2px dotted var(--main-border-color);
    border-radius: var(--box-radius);
    text-align:center;
    padding:10px 10px 0px 10px;
}

.fileUploadDrop p {
    padding-bottom:10px;
}

.uppy-FileInput-btn {
    padding:0px;
    border:0px;
    color:var(--primary-color);
    background:transparent;
    margin-right:15px;
    margin-left:15px;
}

.uppy-FileInput-btn:before {
    font-family:"Font Awesome 6 Free";
    content: "\f07c";
}

.uppy-FileInput-btn:hover,
.fileUploadDrop a:hover {
    background:transparent;
    color:var(--primary-font-color);
    text-decoration: none;
}

.fileUploadDrop a {
    padding-right:15px;
}

.uppy-is-drag-over:after {
    background-color: var(--primary-color);
    opacity:0.6;
    border: 4px dashed var(--input-background);
    bottom: 7px;
    border-radius:var(--box-radius);
    content: "";
    left: 7px;
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 10000;
}


.profileBox.active {
    border:1px solid var(--main-action-bg);
    box-shadow:var(--large-shadow);
}

.profileBox.active .commentImage .fa {
    border-color:var(--main-action-bg);
    background-color:var(--main-action-bg);
    color:var(--main-action-color);
}

.profileBox .commentImage.gradient img{
    background:var(--element-gradient);
}

.profileBox.active .userName {
    color:var(--main-action-bg);
}

.ui-autocomplete {
    z-index:99999;
    margin-top: 0;
    border-radius: var(--box-radius);
    border:0px;
    box-shadow: var(--regular-shadow);
    background:var(--input-background);
    max-width:200px;
}

.ui-autocomplete li {
    list-style-type: none;
}

.ui-autocomplete li div {
    padding: 10px 20px;
}


.ui-autocomplete li .ui-state-active {
    color: var(--dropdown-link-hover-color);
    background:var(--dropdown-link-hover-bg);
}

/* Assumes buttons are just an icon, so everything is inline*/
.simpleButtons {
}

.simpleButtons.right {
    text-align:right;
    float:right;
}

.simpleButtons.left {
    text-align:left;
    float:left;
}

.viewDescription {
    border-radius:var(--box-radius);
    padding:5px;
    border:1px solid transparent;
}

.viewDescription:hover {
    border:1px solid var(--main-border-color-hover);
}






input[type=range] {
    height: 28px;
    -webkit-appearance: none;
    margin: 5px 0px 5px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: var(--main-border-color);
    border-radius: 5px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 2px solid var(--input-background);
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: var(--primary-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--main-border-color);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: var(--main-border-color);
    border-radius: 5px;
    border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 2px solid var(--input-background);
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: var(--primary-color);
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: var(--main-border-color);
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: var(--main-border-color);
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 2px solid var(--primary-background);
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background:var(--primary-color);
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: var(--main-border-color);
}
input[type=range]:focus::-ms-fill-upper {
    background: var(--main-border-color);
}

.radioTab {
    border:1px solid var(--main-border-color);
    border-radius:var(--box-radius);
    padding:10px;
    margin-bottom:5px;
    display:block;
}

.radioTab:hover {
    background:var(--kanban-card-hover);
}

.radioTab strong {
    color:var(--primary-color);
    display:block;
}

.radioTab span {
    font-size:var(--font-size-s);
    color:var(--primary-font-color);
    line-height:1;
}

.radioTab.active {
    background:var(--main-action-bg);
    color:var(--main-action-color);
}

.radioTab.active strong,
.radioTab.active span {
    color:var(--main-action-color);
}



.ss-main .ss-single-selected {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: var(--input-padding);
    border: 1px solid var(--main-border-color);
    background-color: var(--input-background);
    line-height: var(--form-element-line-height);
    border: 1px solid var(--main-border-color);
    -webkit-box-shadow: var(--input-shadow);
    -moz-box-shadow: var(--input-shadow);
    box-shadow: var(--input-shadow);
    border-radius: var(--input-radius);

    outline: 0;
    box-sizing: border-box;
    transition: background-color .2s;
}

.ss-main {
    margin-bottom:5px;
}

.ss-main .ss-multi-selected {
    min-height: auto;
    background-color: var(--input-background);
    line-height: var(--form-element-line-height);
    border: 1px solid var(--main-border-color);
    box-shadow: var(--input-shadow);
    transition: border linear .2s, box-shadow linear .2s;
    border-radius: var(--input-radius);
}

.ss-main .ss-single-selected .placeholder {
    line-height: var(--form-element-line-height);
}

.ss-main .ss-multi-selected .ss-values .ss-disabled {
    color:var(--main-border-color);
}

.ss-main .ss-multi-selected .ss-values .ss-disabled {
    padding:0px;
    margin:0px;
}

.ss-main .ss-multi-selected .ss-add {
    display: flex;
    flex: 1 1 3px;
    margin: 4px 0px 0 5px;
}

.ss-main .ss-multi-selected .ss-values .ss-value {
    background:var(--primary-color);
}

.ss-main .ss-single-selected .ss-arrow span {
    padding:0px 4px;
}

.ss-main .ss-single-selected .ss-arrow span.arrow-up,
.ss-main .ss-single-selected .ss-arrow span.arrow-down {
    margin:0px;
}

input[type=text].simpleColorPicker {
    color:#fff;
}

body .croppie-container {
    height:auto;
}


.form-group {
    clear:both;
}

.maincontent .chosen-container .chosen-results li {
    margin-bottom:2px;
    list-style-type:none;
    padding:5px;
}

.maincontent .chosen-container .chosen-results li span,
.maincontent .chosen-container .chosen-single span{
    margin-left:0px !important;
}

.maincontent .chosen-container .chosen-results li span:after,
.maincontent .chosen-container .chosen-single span:after{
    border-color:transparent;
}


.stdform p, .stdform div.par {
    margin: 20px 0;
}

.stdform span.field, .stdform div.field {
    display: block;
    position: relative;
}

.stdform .formwrapper {
    display: block;
    padding-top: 5px;
    margin-left: 220px;
    line-height: 25px;
}

.stdform label {
    float: left;
    width: 150px;
    text-align: left;
    padding: 5px 20px 0 0;
}

.stdform label.error {
    float: none;
    display: block;
    color: var(--dark-red);
    text-align: left;
    padding: 0;
    width: auto;
}

.stdform label.valid {
    color: var(--green);
}

.stdform small.desc {
    color: #999;
    font-style: italic;
    display: block;
    margin: 5px 0 0 220px;
}

.stdform .stdformbutton {
}

.stdform #spinner.input-small {
    width: 100px;
}

.stdform2 p, .stdform2 div.par {
    border-top: 1px solid #ddd;
    background: #fcfcfc;
    margin: 0;
    clear: both;
}

.stdform2 div.terms {
    border: 0;
    background: none;
}

.stdform2 p:first-child, .stdform2 div.par:first-child {
    border-top: 0;
}

.stdform2 label {
    display: inline-block;
    padding: 15px 0 0 15px;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
}

.stdform2 label.error {
    margin-left: 0;
    padding: 0;
}

.stdform2 label small {
    color: #999;
    display: block;
    font-weight: normal;
    line-height: 16px;
}

.stdform2 span.field, .stdform2 div.field {
    margin-left: 220px;
    display: block;
    background: #fff;
    padding: 15px;
    border-left: 1px solid #ddd;
}

.stdform2 .stdformbutton {
    margin-left: 0;
    padding: 15px;
    background: #fff;
}

.stdform2 input {
    margin: 0;
}

.stdform2 input[type=checkbox], .stdform2 input[type=radio] {
    margin: 10px;
}

.dualselect {
    margin-left: 220px;
    display: block;
}

.dualselect select {
    height: 200px;
    width: 40%;
    padding: 0;
    outline: none;
}

.dualselect select option {
    padding: 4px 5px;
    margin: 0;
    white-space: normal;
}

.dualselect .ds_arrow {
    display: inline-block;
    vertical-align: top;
    padding-top: 60px;
    margin: 0 10px;
}

.dualselect .ds_arrow button {
    margin-top: -1px;
}

.counter {
    display: block;

}

.warning {
    color: var(--yellow);
}

.exceeded {
    color: var(--dark-red);
}

.selectable {
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    margin-bottom:10px;
}

.selectable .selectableContent {
    border: 1px solid var(--main-border-color);
    padding:10px;
    border-radius: var(--element-radius);
    background: var(--tab-background);
    color: var(--tab-color);
    margin:auto;
}

.selectable.circle .selectableContent {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding:5px;
}

.selectable .selectableContent .emoji {
    font-size:var(--font-size-xxl);
    padding-right:5px;
    vertical-align: middle;
}

.colorCircle {
    display:block;
    width:48px; /* Account for border on parent element */
    height:48px; /* Account for border on parent element */
    border-radius: 50%;
    opacity:1;
}

.selectable.active .selectableContent{
    background: var(--col-hover-bg);
    color: var(--tab-active-color);
}

.selectable.active .selectableContent{
    font-weight:bold;
}

.selectable.active .selectable-label {
    color:var(--accent1);
    font-weight:bold;
}

.selectable:hover .selectableContent{
    background:var(--col-hover-bg);
    color: var(--main-menu-link-active-color);
}




/* PRetty toggle*/
input[type="checkbox"].toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

input[type="checkbox"].toggle:focus {
    outline:none;
}

input[type="checkbox"].toggle {
    height: 20px;
    width: 40px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 0px solid var(--primary-font-color);
    background: var(--input-background);
    box-shadow: var(--min-shadow);
    transition: all .2s ease;
    margin-top: 5px;

}

input[type="checkbox"].toggle:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: var(--regular-shadow);
    background:var(--primary-font-color);
    transition: all .2s cubic-bezier(.5, .1, .75, 1.35);

}

input[type="checkbox"].toggle:checked {
    border-color: var(--accent1);
    background: var(--element-gradient);
}
input[type="checkbox"].toggle:checked:after {
    transform: translatex(20px);
    background:#fff;
}

body a.textInputSwitch {
    display:block;
    border:1px solid var(--main-border-color);
    cursor:text;
    height:40px;
    line-height:40px;
    font-size:var(--font-size-l);
    text-align:left;
    background:var(--layered-background);
    margin-bottom:10px;
    padding-left:10px;
    border-radius: var(--element-radius);
    color:var(--primary-font-color);
    font-weight:bold;
}

.textInputSwitch:hover {
    border:1px solid var(--primary-font-color);
}

.undrawContainer.noBg {
    color:var(--main-action-color);
}

.undrawContainer.noBg h3 {
    color:var(--main-action-color);
    background: none;
    -webkit-text-fill-color: unset;
    -webkit-background-clip: unset;
    -moz-background-clip: unset;
    -moz-text-fill-color: unset;
}


.notesEditor {
    background:var(--input-background);
    border-radius:var(--box-radius);
}


.noteContainer {
    position:relative;
    background:var(--layered-background);
    overflow:hidden;
    margin:0px auto;
    padding:10px;
    border-radius:0 0 0 30px/45px;
   /* box-shadow:
            inset 0 -40px 40px rgba(100,100,100,0.1),
            inset 0 25px 10px rgba(100,100,100,0.1),
            0 5px 6px 5px rgba(100,100,100,0.1);*/
    color:var(--secondary-font-color);
    border: 1px solid var(--main-border-color);
}

.noteContainer:before {
    content:"";
    display:block;
    position:absolute;
    width:20px;
    height:25px;
    background:var(--layered-background);
    box-shadow:
            3px -2px 10px rgba(100,0,0,0.1),
            inset 15px -15px 15px rgba(0,0,0,0.1);
    left:0;
    bottom:0;
    z-index:2;
    transform:skewX(25deg);
}

.noteContainer:after {
    content:"";
    display:block;
    position:absolute;
    width:75%;
    height:20px;
    border-radius: 50% ;
    bottom:0px;
    left:10%;
}

.noteContainer input[type=text],
.noteContainer textarea,
.clearForm input[type=text],
.clearForm textarea {
    background:transparent;
    border:none !important;
    box-shadow:none;
    width:100%;
    color:var(--secondary-font-color);
}

.noteContainer input::-webkit-input-placeholder,
.noteContainer textarea::-webkit-input-placeholder,
.noteContainer input::-moz-placeholder,
.noteContainer textarea::-moz-placeholder {
    color: var(--secondary-font-color);

}

body .noteContainer div.tagsinput,
body .clearForm div.tagsinput {
    background:transparent;
    border:none;
    width:100%;
}

body div.tagsinput input,
body div.clearForm input
{
    width:50% !important;
    border:0px;
}

body .noteContainer div.tagsinput input,
body .clearForm div.tagsinput input {
    padding-left:7px;
    color:var(--secondary-font-color);
}

body .noteContainer div.tagsinput input:focus,
body .clearForm div.tagsinput input:focus{
    border:none;
}

div.tagsinput span.tag {
    margin-bottom:0px;
}

.headerEditDropdown {
    margin-left:10px;
}

.headerEditDropdown .caret {
    border-top-color:var(--main-action-color);
}
.round-button {
    padding:4px 0px !important;
    min-width:31px;
}


/* Choices.js select boxes */


/* Date Pickers */
#ui-datepicker-div {
    box-shadow: var(--regular-shadow);
}

.ui-datepicker {
    border:none;
    margin-top:5px;
    border-radius:var(--box-radius);
}

.ui-datepicker-calendar {
    border-bottom-left-radius: var(--box-radius);
    border-bottom-right-radius: var(--box-radius);
}

.ui-datepicker-header {
    position: relative;
    text-align: center;
    padding: 5px;
    color: var(--dropdown-link-hover-color);
    background: var(--dropdown-link-hover-bg);
    font-weight:bold;
    border-top-left-radius: var(--box-radius);
    border-top-right-radius: var(--box-radius);
}

.ui-datepicker-next {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 5px;
    background: url(~images/calarrow.png) no-repeat 3px 1px;
}

.ui-datepicker-prev {
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 5px;
    background: url(~images/calarrow.png) no-repeat 3px -39px;
}

.ui-datepicker-calendar td a.ui-state-active {
    background: var(--main-action-bg);
    color: var(--main-action-color);
}
.ui-datepicker-calendar td a.ui-state-active:hover {
    background: var(--dropdown-link-hover-bg);
    color: var(--dropdown-link-hover-color);
}

.ui-datepicker-calendar td.ui-datepicker-today a {
    background: var(--dropdown-link-hover-bg);
    color: var(--dropdown-link-hover-color);
}

.ui-state-highlight {
    border:none;
}

.ui-datepicker-calendar td {
    border-color:var(--main-border-color);
    background:transparent;
    font-size:var(--font-size-s);
}

.ui-datepicker-calendar thead th {
    background:none;
    text-transform:none;
    font-size:var(--font-size-s);

}

/* new datetimepicker */

.xdsoft_datetimepicker
.input-proxy {
    box-shadow:var(--regular-shadow);
    border:0px;
    border-radius:var(--box-radius);
    background:var(--secondary-background);
    color:var(--primary-font-color);
    font-family: var(--primary-font-family);
    padding:var(--spacing-sm);
}

.xdsoft_datetimepicker .xdsoft_calendar {
    border-radius:var(--box-radius);
}

.xdsoft_datetimepicker .xdsoft_calendar th {
    background:var(--dropdown-link-hover-bg);
    color:var(--primary-font-color);
    border-color:var(--main-border-color);
}

.xdsoft_datetimepicker .xdsoft_calendar td {
    background:transparent;
    border-color:var(--main-border-color);
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    background:var(--main-action-bg);
    color:var(--main-action-color);
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default:hover,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current:hover,
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current:hover {
    background:var(--secondary-action-hover-bg) !important;
    color:var(--secondary-action-hover-color);
}

.xdsoft_datetimepicker .xdsoft_today_button {
    margin-left:0px;
}

.xdsoft_datetimepicker .xdsoft_month {
    width:70px;
    text-align:right;
}

.xdsoft_datetimepicker .xdsoft_year {
    width:70px;
    text-align:left;
}

.xdsoft_datetimepicker .xdsoft_next,
.xdsoft_datetimepicker .xdsoft_prev,
.xdsoft_datetimepicker .xdsoft_today_button {
    opacity:0.2;
}

.flatpickr-calendar {

    background:var(--secondary-background);
    box-shadow: var(--regular-shadow);
    border-radius: var(--box-radius);
}

.flatpickr-day {
    color:var(--primary-font-color);
}

.flatpickr-current-month {
    font-size:var(--font-size-l);
    padding-top:2px;
}

.flatpickr-current-month input,
.flatpickr-current-month select {
    box-shadow:none;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill:var(--accent1);
}

.flatpickr-time .numInputWrapper input {
    box-shadow:none;
    border:none;
    height:inherit;
    background:transparent;
    border-radius:none;
}

.flatpickr-current-month .numInputWrapper {
    width:8ch;
}

input.flatpickr-input:read-only {
    border: inherit;
    box-shadow: inherit;
    opacity: 1;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background:var(--main-action-bg);
    border-color:var(--main-action-bg);
}

.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
    border-top:0px;
}

.flatpickr-day {

}

.datetime-dropdown {
    max-width:320px;
    padding:10px;
    margin-top: 5px;
}

.datetime-dropdown .form-control.input {

}

.datetime-dropdown > label {
    float:left;
    width:120px;
    padding-top:var(--spacing-xs);
}

.datetime-dropdown .flatpickr-calendar {
    box-shadow:none;
}


.input-proxy,
a.input-proxy,
a.input-proxy:link {
    display:inline-block;
    box-shadow:none;
    min-width:150px;
    border:1px solid transparent;
    border-radius:var(--input-radius);
    background:var(--secondary-background);
    color:var(--primary-font-color);
    font-weight:normal;
    font-family: var(--primary-font-family);
    padding:var(--input-padding);
}

.input-proxy:hover,
a.input-proxy:hover {
    box-shadow:var(--input-shadow);
    border:1px solid var(--main-border-color);
}

.flatpickr-time .numInputWrapper,
.flatpickr-time .flatpickr-am-pm{
    border-radius:var(--box-radius);
}

:root {
    --dayWidth: 30px;
    --calWidth: calc((var(--dayWidth) + 2px) * 7)
}

/* flatpickr sizes */
.flatpickr-day {
    max-width: var(--dayWidth);
    height: var(--dayWidth);
    line-height: var(--dayWidth);
    /*     flex-basis: 14.2857143%; for reference only */
}

.flatpickr-days,
.flatpickr-calendar {
    width: var(--calWidth);
}

.datetime-dropdown {
    max-width: calc(var(--calWidth) + 22px);
}

.dayContainer {
    width: var(--calWidth);
    min-width: var(--calWidth);
    max-width: var(--calWidth);
}

