
.mediamgr {
    position: relative;
    min-height: 400px;
}

.mediamgr .mediamgr_right {
    position: absolute;
    width: 250px;
    top: 62px;
    right: 0;
}

.mediamgr .mediamgr_rightinner {
    margin: 20px 0;
    padding-left: 20px;
}

.mediamgr .mediamgr_rightinner h4 {
    font-size: var(--base-font-size);
    text-transform: uppercase;
    padding: 10px;
    background: var(--primary-color);
    color: var(--primary-background);
}

.mediamgr_head {
    padding: 10px;
    background: var(--secondary-background);
    border: 1px solid var(--main-border-color);
    overflow: visible;
    margin-bottom: 20px;
}

.mediamgr_menu {
    list-style: none;
    position: relative;
    overflow: hidden;
}

.mediamgr_menu li {
    display: inline-block;
    float: left;
}

.mediamgr_menu li.right {
    float: right;
}

.mediamgr_menu li a {
    margin-bottom: 0;
}

.mediamgr_menu li a:hover {
    cursor: pointer;
    text-decoration: none;
}

.mediamgr_menu li a.prev {
    border-right: 0;
}

.mediamgr_menu li a.prev_disabled {
    opacity: 0.6;
}

.mediamgr_menu li a.preview_disabled {
    opacity: 0.6;
}

.mediamgr_menu form input.filekeyword {
    padding: 4px 8px;
    width: 200px;
    background: var(--primary-background);
    color: var(--secondary-font-color);
    margin: 0;
    font-style: italic;
}

.mediamgr_content {
    padding: 20px 0;
    margin-right: 250px;
}

.mediamgr_category {
    padding: 10px 0;
    border-bottom: 1px dashed var(--main-border-color);
}

.mediamgr_category ul {
    list-style: none;
}

.mediamgr_category ul li {
    display: inline-block;
    margin-right: 4px;
}

.mediamgr_category ul li.right {
    float: right;
}

.mediamgr_category ul li a {
    display: block;
    padding: 4px 10px;
    color: var(--secondary-font-color);
}

.mediamgr_category ul li a:hover, .mediamgr_category ul li.current a {
    background: var(--primary-font-color);
    color: var(--primary-background);
    text-decoration: none;
}

.mediamgr_category ul li .pagenuminfo {
    display: inline-block;
    margin-top: 4px;
}

.mediamgr_menu li a.newfilebutton {
    display: block;
    padding: 4px 10px 4px 10px;
    text-align: center;
    border: 1px solid var(--accent1);
    background: var(--accent1);
    color: var(--primary-background);
    font-weight: var(--font-weight-bold);
    font-size: var(--base-font-size);
    -moz-box-shadow: inset 0 1px 0 rgba(250, 250, 250, 0.3);
    -webkit-box-shadow: inset 0 1px 0 rgba(250, 250, 250, 0.3);
    box-shadow: inset 0 1px 0 rgba(250, 250, 250, 0.3);
}

.mediamgr_menu li a.newfilebutton:hover {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.mediamgr_category {
    width: 100%;
}

#mediafilter {
    right: 0 !important;
    left: auto !important;
}

.mediamgr_category ul li {
    display: block !important;
}
