
/* login */
.inputwrapper button { background: var(--main-action-bg); border-color: var(--main-border-color) }
.inputwrapper button:hover { background: var(--main-action-hover-bg); border-color: var(--main-border-color) }

/* background */
.leftmenu .nav-tabs.nav-stacked > li.active > a,
.leftmenu .nav-tabs.nav-stacked > li.active > a:hover,
.shortcuts li a,
.widgettitle,
.mediamgr .mediamgr_rightinner h4,
.messagemenu, .msglist li.selected,
.wizard .hormenu li a.done,
.wizard .hormenu li a.selected,
.actionBar a:hover, .actionBar a:hover,
.wizard .tabbedmenu, .nav-tabs > .active > a:focus,
.tabbable > .nav-tabs,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus,
.tabs-right .nav-tabs,
.tabs-right > .nav-tabs > li > a,
.tabs-left .nav-tabs,
.tabs-left > .nav-tabs > li > a,
.progress-primary .bar,
.ui-datepicker-calendar td.ui-datepicker-today a,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus,
.fc-widget-header, .fc-widget-header.fc-agenda-gutter.fc-last,
div.tagsinput span.tag
{ background-color: var(--primary-color) }



.loginpanelinner,
.leftpanel .leftmenu .nav-tabs ul.projectselector li.active a{
    background-color: var(--primary-color) !important;
    color:var(--main-action-color);
}

.header .logo {

}

.boxedHighlight{
    background:var(--accent1);
}

/* color */

a,a:hover,a:link,a:active,a:focus,
.userlist li .uinfo h5,
.messagemenu ul li.active a,
.msglist li h4,
.actionBar a,
.actionBar a.buttonDisabled,
.wizard .tabbedmenu li a.selected,
.wizard .tabbedmenu li a.done,
.tabbable > .nav-tabs > li.active > a,
.btn-circle.btn-primary, .btn-circle.btn-primary:hover, .btn-circle.btn-primary:focus,
.btn-circle.btn-primary:active, .btn-circle.btn-primary.active,
.btn-circle.btn-primary.disabled, .btn-circle.btn-primary[disabled],
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus,
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus,
.ticketBox  a.userPopover:hover,
.primaryColor,
.optionLink,
.inlineDropDownContainer .ticketDropDown:hover,
.leftpanel .leftmenu .nav-tabs ul.projectselector  li.intro a,
.maincontentinner .ticketDropdown.noBg >a,
.maincontentinner .ticketDropdown.noBg >a:link,
.viewDropDown .dropdown-menu li a.active
{ color: var(--primary-color); }


input[type='submit'],
button
{ background-color:  var(--main-action-bg);  }

input[type='submit']:hover,
button:hover {
    background-color:  var(--main-action-hover-bg);
    color:var(--main-action-color);
}

.btn-white {
    background:var(--primary-background);
}

span.btn-white:hover{
    background:var(--primary-background);
}


/* border color */
.widgetcontent,
.messagemenu ul li.active,
.messageleft,
.messageright,
.messagesearch,
.msgreply,
.wizard .hormenu li a,
.wizard .hormenu li:first-child a,
.stepContainer,
.actionBar,
.actionBar a,
.actionBar a.buttonDisabled,
.tabbable > .nav-tabs,
.tabbable > .tab-content,
.nav-tabs.nav-stacked > li > a:focus,
.btn-circle.btn-primary, .btn-circle.btn-primary:hover, .btn-circle.btn-primary:focus,
.btn-circle.btn-primary:active, .btn-circle.btn-primary.active,
.btn-circle.btn-primary.disabled, .btn-circle.btn-primary[disabled],
.nav-tabs,
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus,
.tabs-below .tab-content,
.tabs-below > .nav-tabs > li.active > a,
.tabs-right,
.tabs-left,
.tab-primary.ui-tabs,
.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus,
div.tagsinput span.tag
{ border-color: var(--main-border-color) }


.ui-datepicker-header { background-color: var(--primary-color) !important; }
.ui-datepicker { border-color: var(--main-border-color) !important; }


/* extras */

.tabs-below > .nav-tabs > li.active > a { border-bottom: 1px solid var(--main-border-color) !important; }
.nav-list > li > a { color: var(--secondary-font-color); }
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li { border-color: var(--main-border-color); }
.leftmenu .nav-tabs.nav-stacked > li > a { border-color: var(--main-border-color) !important; }
.leftmenu .nav-tabs.nav-stacked > li.active > a { border-color: var(--main-border-color) !important; }


@media screen and (max-width: 480px) {

 .userloggedinfo ul li a:hover { background-color: var(--primary-color); }

  .userloggedinfo .userinfo,
  .wizard .hormenu li,
  .messageright { border-color: var(--main-border-color); }

}

.timesheetTable {

}

.timesheetTable input {
    width:70%;
}

.week-picker {
    width:100px;
}

.timesheetTable select {
    width:90%;
}


.ui-weekpicker td a.ui-state-hover{
    background:var(--neutral);
}

.ui-weekpicker td a.ui-state-highlight {
    background-color: var(--primary-color);
}


.ui-state-highlight {
    background:var(--neutral);
}

.companyProject,
.companyProject a{
    color:var(--secondary-font-color);
    font-weight:var(--font-weight-body)
}

.filterBar {
    border: 1px solid var(--main-border-color);
    padding: 20px;
    margin-bottom: 4px;
    margin-top: 10px;
    background: var(--secondary-background);
    border-radius: var(--box-radius);
    z-index: var(--zlayer-4);
    position: absolute;
    right: 0;
    box-shadow: var(--large-shadow);
    width: 320px;
}

.filterBar .row-fluid {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filterBar label {
    font-weight: var(--font-weight-semibold);
    display: block;
    margin-bottom: 2px;
    font-size: var(--font-size-s);
    color: var(--secondary-font-color);
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.filterBar select {
    display: none;
}

.filterBar .ss-main {
    width: 100% !important;
}

.filterBar .ss-main .ss-multi-selected {
    width: 100%;
}

.filterBar .ss-main .ss-multi-selected .ss-values {
    height: auto;
    flex-wrap: wrap;
}

.filterBar .ss-main .ss-multi-selected .ss-add {
    display: none;
}

.headtitle {
    background:var(--kanban-col-bg);
    border:0px solid var(--main-border-color);
    border-radius:var(--box-radius);
}

.filterBar .filterBoxLeft {
    min-width:50px;
}

.filterBar .filterBoxLeft input,
.filterBar .filterBoxLeft select {
    display:block;
}

label.inline {
    float:left;
    margin-right:4px;
    padding-top:6px;
}

.loading {
    position:absolute;
    width:100%;
    height:40px;
}

body .widgettitle.title-light {
    color:var(--primary-color);
    padding-left:0px;
    background-color: transparent !important;
    border-left:0px !important;
    border-top:0px !important;
    border-right:0px !important;
    border-bottom:0px solid var(--main-border-color);
    margin-bottom:16px;
    font-size:var(--font-size-l);
    box-shadow: none;

}

#global-modal-content .widgettitle.title-light {
    padding-top: 4px;
    font-size:var(--font-size-l);
}

div.tagsinput {
    border:1px solid var(--main-border-color);
}


body .tox .tox-edit-area__iframe,
body .tox .tox-toolbar-overlord{
    background-color:transparent;
}


.ui-datepicker-next {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 4px;
    background: url(~images/calarrow.png) no-repeat 4px 1px;
}

.ui-datepicker-prev {
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 4px;
    background: url(~images/calarrow.png) no-repeat 4px -39px;
}

.ui-datepicker-header {
    position: relative;
    text-align: center;
    padding: 4px;
    color: var(--primary-background);
    background: var(--primary-color);
    text-transform: uppercase;
    border-top-left-radius: var(--box-radius-small);
    border-top-right-radius: var(--box-radius-small);
}

.ui-datepicker {
    border-radius: var(--box-radius-small);
}



/* Playing with header */


:not(pre)>code[class*=language-], pre[class*=language-] {
}

code[class*=language-], pre[class*=language-] {
    text-shadow:0px 1px var(--secondary-background);
}


element.style {
    margin-top: 4px;
    margin-bottom: 16px;
}
body hr {
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid var(--main-border-color);
}

/* tippy overrides
 */

.tippy-content {
    font-size:var(--font-size-s);
    color: var(--secondary-action-hover-color);
}

.tippy-box {
    background: var(--secondary-action-hover-bg);
}

.tippy-arrow {
    color: var(--secondary-action-hover-bg);
}


.ui-resizable-se {
    opaciy:0.5
}

#freshworks-container,
#freshworks-container #launcher-frame{
    z-index: var(--zlayer-7) !important;
}
