.progress {
    height: 15px;
}

.progress .bar {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress-primary .bar {
    background: var(--element-gradient);
}

.progress-info .bar {
    background: var(--element-gradient);
}

.progress-success .bar {
    background: var(--element-gradient);
}

.progress-warnng .bar {
    background: var(--element-gradient);
}

.progress {
    height: 17px;
    margin-bottom: 0px;
    border-radius: var(--element-radius);
    overflow: hidden;
    background-color: var(--layered-background);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.progress-wrapper .percent-label {
    font-size:var(--font-size-s);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: var(--base-font-size);
    color: #ffffff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-striped .progress-bar {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
    background: var(--element-gradient);
}

.progress-striped .progress-bar-success {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
    background-color: var(--blue);
}

.progress-striped .progress-bar-info {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
    background-color: var(--yellow);
}

.progress-striped .progress-bar-warning {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
    background-color: var(--red);
}

.progress-striped .progress-bar-danger {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}


.progressWrapper {
    position:relative;
    height: 45px;
}

.progressWrapper .step {
    position: absolute;
    display: block;
    top: -10px;
    margin-left: -15px;
}

.progressWrapper .step .innerCircle {
    display:block;
    width: 30px;
    height: 30px;
    border: 5px solid var(--layered-background);
    border-radius: 30px;
    background: var(--solid-neutral);
    margin-top: 3px;
}

.progressWrapper .step .title {
    margin-left:calc(-50% + 35px);
    padding-top: 5px;
    display: inline-block;
    color:var(--primary-font-color);
    opacity:0.5;
    font-size:var(--font-size-m);
}

.progressWrapper .step .title:hover {
    color:var(--primary-font-color) !important;
}






@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    75% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    75% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.progressWrapper .step.complete .innerCircle {
    background:var(--accent1);
    color:var(--accent1);

}

.progressWrapper .step.complete .title{
    color:var(--accent1);
    opacity:1;
}

.progressWrapper .step.current .innerCircle {
    -webkit-animation: breathing 2s ease-out infinite normal;
    animation: breathing 2s ease-out infinite normal;
    background:var(--accent2);
}

.progressWrapper .step.current .title{
    color:var(--accent1);
    font-weight:bold;
    opacity:1;
}

.progressWrapper .step .dropdown-menu {
    padding:10px;
    min-width:360px;
}

.progressWrapper .step .dropdown-menu li {
    display:block;
    clear:both;
    padding:0px 10px 5px 10px;
    border-color:var(--accent1);
    border:1px solid var(--accent1);
    border-radius:var(--box-radius);
    margin-bottom:5px;
}

.progressWrapper .step .dropdown-menu li label {
    color:var(--accent1);
}

.progressWrapper .step .dropdown-menu li.done {
    opacity:0.6;
}

.progressWrapper .step .dropdown-menu li:hover {
    background:var(--main-menu-link-hover-bg);
}

.progressWrapper .step .dropdown-menu li.done label{
    text-decoration: line-through;
    color:var(--primary-font-color);
}

.progressWrapper .step .dropdown-menu li input {
    float:left;
    margin-right:5px;
}

.progressWrapper .step li.checklistDescription {
    padding:5px;
    font-style:italic;
    border:none;
}


.progressWrapper .step li .taskDescription {
    font-size: var(--font-size-s);
}


.full-width-loader {
    opacity:0;
    position:fixed;
    z-index: 100;
    top:0px;
    left:0px;
    height: 5px;
    width:100%;
    background-color: transparent
}


.full-width-loader .indeterminate {
    width:20%;
    background:var(--element-gradient);
    width:50%;
    height:5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow:var(--regular-shadow);

}

@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}


.full-width-loader.htmx-request {
    display:block;
    opacity:1;
}

.full-width-loader.htmx-request .indeterminate {
    animation: progressBar 1.5s ease-in-out;
    animation-fill-mode: both;
}
