.button-primary {
    color: var(--primary-font-color);
    font-weight: 100;
    background-color: var(--secondary-background);
    border: 1px solid transparent;
    width: 100%;
    text-align: left;
    margin-left: 3px;
    height: 30px;
}

.button-primary:hover {
    background-color: var(--dropdown-link-hover-bg);
    color: var(--dropdown-link-hover-color);
    height: 30px;
}
