.button-primary {
    color: #333333;
    font-weight: 100;
    background-color: transparent;
    border: 1px solid transparent;
    width: 100%;
    text-align: left;
    margin-left: 3px;
}

.button-primary:hover {
    background-color: #f0f0f0;
    color: #000000;
    height: 24px;
}