version: "3.9"
networks:
  leantime:
    external: false
volumes:
  mysql:
services:
  leantime-dev:
    build: .
    ports:
      - "8080:8080"
    volumes:
     - "../:/var/www/html"
     - "./xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini"
     - "./error_reporting.ini:/usr/local/etc/php/conf.d/error_reporting.ini"
     - ".env:/var/www/html/config/.env"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - leantime
  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=leantime
      - MYSQL_USER=leantime
      - MYSQL_PASSWORD=leantime
      - MYSQL_DATABASE=leantime
    networks:
      - leantime
    volumes:
      - mysql:/var/lib/mysql:rw
  maildev:
    image: maildev/maildev
    environment:
      - MAILDEV_SMTP_PORT=465
      - MAILDEV_WEB_PORT=8081
    ports:
      - 8081:8081
    networks: 
      - leantime  
  phpmyadmin:
    image: phpmyadmin
    ports:
      - 8082:80
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306
    networks:
      - leantime
