:root {

    --accent1: hsla(199, 100%, 20%, 1);
    --accent1-hover: #555;
    --accent1-color: #fff;

    --accent2: hsla(168, 100%, 33%, 1);
    --accent2-hover: #555;
    --accent2-color: #fff;

    --nav-link-color: #bbbbbb;
    --header-nav-link-color: #fff;

    --tab-background: transparent;
    --tab-color: var(--accent1);

    --tab-active-background: rgba(25, 25, 25, 1);
    --tab-active-color: #555;

    --primary-content-bg-opacity: 0.4;

    --main-titles-color: #eee;

    --primary-background: rgba(0, 0, 0, 0.9);
    --secondary-background: rgba(30, 30, 30, 1);

    --layered-background: rgba(25, 25, 25, 1);
    --light-layered-background: rgba(25, 25, 25, 0.8);

    --primary-font-color: #bbbbbb;
    --secondary-font-color: #eee;

    --neutral: rgba(0, 0, 0, 0.2);
    --solid-neutral:rgba(40, 40, 40, 1);
    --neutral-background: rgba(40, 40, 40, 0.7);

    --col-title-bg: rgb(48, 51, 53);
    --col-content-bg: rgb(48, 51, 53);
    --col-hover-bg: rgb(34, 34, 34);
    --col-row-striped:rgba(1,1,1,0.7);

    --primary-color: var(--accent1);
    --secondary-color: var(--accent2);

    --main-bg: var(--primary-background);
    --left-panel-bg: transparent;
    --content-bg: var(--secondary-background);

    --glass-blur: blur( 4px );
    --glass-background:rgba(30, 30, 30, 1);
    --glass-border: 1px solid rgba(0,0,0,1);

    --main-action-bg: var(--accent1);
    --main-action-color: var(--accent1-color);
    --main-action-hover-bg: var(--accent1-hover);
    --main-action-hover-color: var(--accent1-color);

    --secondary-action-bg: var(--primary-background);
    --secondary-action-color: var(--primary-font-color);
    --secondary-action-hover-bg: var(--accent2-hover);
    --secondary-action-hover-color: var(--accent2-color);

    --main-menu-link-bg: var(--secondary-background);
    --main-menu-link-color: var(--primary-font-color);

    --main-menu-link-hover-bg: rgba(1, 1, 1, 0.8);
    --main-menu-link-hover-color: var(--accent1);

    --main-menu-overlayed-link-hover-bg: rgba(1, 1, 1, 0.4);

    --main-menu-link-active-bg: var(--primary-background);
    --main-menu-link-active-color: var(--primary-color);

    --main-menu-border-color: var(--neutral);

    --project-selector-bg: var(--secondary-background);
    --project-selector-color: var(--primary-font-color);
    --project-selector-hover-bg: var(--primary-background);
    --project-selector-hover-color: var(--primary-font-color);

    --dropdown-link-bg: var(--secondary-background);
    --dropdown-link-color: var(--primary-font-color);
    --dropdown-link-hover-bg: var(--tab-active-background);
    --dropdown-link-hover-color: var(--primary-font-color);

    --input-background: #000;

    --header-action-hover-color: var(--neutral);
    --header-bg-color: var(--primary-color);
    --header-gradient: #000;
    --element-gradient:linear-gradient(135deg, var(--accent1) 20%,var(--accent2) 100%);

    --primary-font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;

    --font-size-xs: 10px;
    --font-size-s: 12px;
    --base-font-size: 14px;
    --font-size-m: var(--base-font-size);
    --font-size-l: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 22px;
    --font-size-xxxl: 26px;

    --main-border-color: rgba(40,40,40, 0.9);
    --min-shadow: 0px 1px 1px rgba(0 0 0 / 20%), 0px 0px 1px rgba(0 0 0 / 5%);
    --regular-shadow: 0px 2px 6px rgba(0 0 0 / 20%), 0px 0px 0px rgba(0 0 0 / 20%);
    --large-shadow: 0px 0px 8px 0 rgba(0 0 0 / 30%);
    --box-radius-large:20px;
    --box-radius: 10px;
    --box-radius-small:5px;
    --element-radius: 15px;
    --input-radius: 15px;
    --input-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075);
    --input-padding: 4px 14px;

    --kanban-col-bg: transparent;
    --kanban-col-title-bg: var(--col-title-bg);
    --kanban-col-title-color:var(--primary-font-color);
    --kanban-card-bg: var(--layered-background);
    --kanban-card-hover: var(--col-title-bg);

    --accordion-header-bg: var(--secondary-action-bg);
    --accordion-header-radius: 5px;

    --interactive-icon-color: #aaa;

    --dark-red:#D61B0A;
    --dark-red-text-color:#fff;

    --red: #F76C5E;
    --red-text-color: #000;

    --green: #32965D;
    --green-text-color: #fff;

    --dark-green: #1F5C39;
    --dark-green-text-color:#fff;

    --yellow: #FDB833;
    --yellow-text-color: #000;

    --blue: #1B75BB;
    --blue-text-color: #fff;

    --dark-blue:#124F7D;
    --dark-blue-text-color: #fff;

    --darker-blue:#082236;
    --darker-blue-text-color: #fff;

    --purple:#5F0F40;
    --purple-text-color:#fff;

    --pink: #F26CA7;
    --pink-text-color:#000;

    --brown: #4C212A;
    --brown-text-color: #fff;

    --grey: #b0b0b0;
    --grey-text-color:#000;

    --dark-grey: #707070;
    --dark-grey-text-color: #fff;

    --fc-page-bg-color: var(--secondary-background);
    --fc-border-color: var(--main-border-color);

    --zlayer-1: 1; /*Background*/
    --zlayer-2: 5; /* Maincontentinnnter */
    --zlayer-3: 10; /* Element contentinner */
    --zlayer-4: 15; /* over element contentinnter (headlines, status) */
    --zlayer-5: 20; /* Highest layer on content inner (Filters) */
    --zlayer-6: 25; /* modal */
    --zlayer-7: 30; /* modal dropdowns*/
    --zlayer-8: 35; /* modal dialogs */
    --zlayer-9: 40; /* modal modals*/

    --transparencyLayer: transparent;

    --transparencyLayer: rgba(0,0,0,1);

}

.rightpanel:before {
    opacity:0.1;
}

.overlay:after {
    content:"";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.7);
}

.overlay,
.row .regLeft:before {
    background: rgba(0,0,0, 0.7);
}

.mainwrapper.menuopen .header {
    background: rgba(0,0,0, 0.7);
}



.nyroModalCont .tab-primary.ui-tabs .ui-tabs-nav li,
.maincontentinner .tab-primary.ui-tabs .ui-tabs-nav li{
    border-color:var(--neutral)
}


body .tox .tox-edit-area__iframe,
body .tox .tox-toolbar-overlord {

}

.tox .tox-tbtn svg {
    fill:var(--primary-font-color) !important;
}


.tox .tox-tbtn:hover,
.tox .tox-tbtn--enabled, .tox .tox-tbtn--enabled:hover,
.tox .tox-menu{
    background: var(--secondary-background) !important;
}

.tox-tinymce,
.tox .tox-menu{
    border-color:var(--neutral) !important;
}

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type),
.chzn-container .chzn-drop{
    border-color:var(--neutral) !important;
}

.mce-content-body,
.tox .tox-tbtn,
.tox .tox-collection__item,
.tox .tox-statusbar,
.tox .tox-statusbar a, .tox .tox-statusbar__path-item, .tox .tox-statusbar__wordcount{
    color:var(--primary-font-color) !important;
}

.tox .tox-split-button:hover {
    box-shadow: 0 0 0 1px var(--neutral) inset !important;
}

.tox .tox-statusbar,
.tox .tox-collection--list .tox-collection__item--active:not(.tox-collection__item--state-disabled),
.chzn-container .chzn-drop,
.progress{
    background: var(--secondary-background) !important;
}

.tox-collection__item-label > * {
    background: transparent !important;
}

.tox .tox-statusbar {
    border-top:1px solid var(--neutral) !important;
}

body .chzn-container-single .chzn-single {
    color:var(--primary-font-color);
    background-color: var(--secondary-background);
    border: 1px solid var(--main-border-color);
}

body .chzn-container-active .chzn-single-with-drop {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.ticketDropdown ul::after {
    border-bottom: 7px solid var(--secondary-background);
}

.maincontentinner .table th, .maincontentinner .table.table-bordered th, .maincontentinner .table tr.dtrg-group td {
    border-color:var(--neutral);
}

.ui-datepicker-calendar td {
    background:var(--secondary-background) !important;
}

.ui-datepicker-calendar td {
    border-left: 1px solid var(--neutral) !important;
    border-top: 1px solid var(--neutral) !important;

}

.ui-datepicker-calendar td a {
    color:var(--primary-font-color) !important;
}

.ui-datepicker-calendar td a:hover {
    background:var(--primary-background) !important;
}

.ui-datepicker-calendar thead th,
.ui-datepicker-calendar{
    background:var(--col-title-bg) !important;
    color:var(--primary-font-color) !important;
}

.ui-datepicker-calendar thead th {
    border-color:var(--neutral) !important;
}

body .gantt .grid-header {
    fill: var(--col-title-bg) !important;
    stroke: var(--neutral);
    stroke-width: 1.4;
}

body .gantt .grid-row {
    fill: var(--col-content-bg);
}

body .gantt .grid-row:nth-child(even) {
    fill: var(--col-hover-bg);
}


body .gantt .row-line {
    stroke: var(--neutral);
}

body .gantt .lower-text {
    color:var(--primary-font-color) !important;
    fill: var(--primary-font-color);
}

body .gantt .tick {
    stroke: var(--primary-font-color) !important;
    stroke-width: 0.2;
}

body .gantt #details .details-container {
    background: var(--primary-background);
    display: inline-block;
    padding: 12px;
}

body .gantt #details .details-container p {
    color:var(--primary-font-color);
}

body .gantt .bar-label.big {
    color:var(--primary-font-color);
    fill: var(--primary-font-color);
}

body .fc-widget-header,
body .fc-widget-content {
    border-color:var(--neutral);
}

body .fc-content {
    background:var(--col-content-bg);
}

body .fc-state-highlight {
    background:var(--col-hover-bg);
}

body .fc-state-down,
body .fc-state-active,
body .fc-state-default,
body  .fc-header .fc-button-prev,
body .fc-header .fc-button-next,
body .fc-header .fc-button-today
{
    background:var(--accent2);
    color:var(--accent2-color);
}

body .fc-state-active {
    background:var(--accent2-hover);
}

body .modal {
    background:var(--secondary-background);
    border: 1px solid var(--neutral);
}

body .modal-header {
    border-color:var(--neutral);
}

body .modal-footer {
    background:var(--secondary-background);
    border-color:var(--neutral);
    box-shadow:none;
}

body .regpanelinner .pageheader .pagetitle h1,
body .regpanelinner .pageheader .pageicon {
    color:var(--primary-font-color);
}

body input[disabled],
body select[disabled],
body textarea[disabled],
body input[readonly],
body select[readonly],
body textarea[readonly] {
    cursor: not-allowed;
    background-color: var(--secondary-background);
}

body .userloggedinfo .dropdown-menu::after {
    border-bottom: 6px solid var(--secondary-background);
}

body .ticketDropdown ul::after {
    border-bottom: 7px solid var(--secondary-background);
}

.ss-main .ss-single-selected, .ss-content {
    background-color: var(--secondary-background) !important;
    color:var(--primary-font-color) !important;
    border: 1px solid var(--main-border-color) !important;
}

.ss-content .ss-list .ss-option.ss-disabled {
    background-color: var(--secondary-background) !important;
    color:darkgrey !important;
}

.ss-content .ss-search input::placeholder, .ss-content .ss-search input {
    background-color: var(--primary-background) !important;
    color:var(--primary-font-color) !important;
}

.ss-content .ss-search input::placeholder, .ss-content .ss-search input {
    border: 1px solid var(--main-border-color) !important;
}

.ss-option:hover {
    color: white;
    background-color: var(--accent1) !important;
}
.popover-content,
.iconpicker-popover.popover,
.iconpicker .iconpicker-items{
    background:var(--dropdown-link-bg);
}

.iconpicker .iconpicker-item:hover:not(.iconpicker-selected) {
    background:var(--dropdown-link-hover-bg);
}

.articleBody table {

}

.articleBody table td {
    border:1px solid var(--neutral);
}

.row .regLeft {
    background:var(--accent1);
}
