:root {

    --accent1: hsla(199, 100%, 31%, 1);
    --accent1-hover: #333;
    --accent1-color:#fff;

    --accent2: hsla(168, 100%, 33%, 1);
    --accent2-hover: #333;
    --accent2-color:#fff;

    --nav-link-color: #222;
    --header-nav-link-color: #fff;

    --tab-background: transparent;
    --tab-color: var(--accent1);

    --tab-active-background:  rgba(230, 230, 230, 1);
    --tab-active-color: #333;

    --primary-content-bg-opacity: 0.3;

    --main-titles-color: #333;

    --primary-background: rgba(255, 255, 255, 1);
    --secondary-background: #fff;

    --layered-background: rgba(240, 240, 240, 0.6);
    --light-layered-background: #ccc;

    --primary-font-color: #333;
    --secondary-font-color: #000;

    --neutral:#f5f6f7;
    --solid-neutral:rgba(200, 200, 200, 1);
    --neutral-background: #f5f6f7;

    --col-title-bg: #f5f6f7;
    --col-content-bg:  rgba(255,255,255, 0.8);
    --col-hover-bg: rgba(199, 199, 209, 0.5);
    --col-row-striped:rgba(255,255,255,0.3);

    --primary-color: var(--accent1);
    --secondary-color: var(--accent2);

    --main-bg: #f9fafb;
    --left-panel-bg: transparent;
    --content-bg: var(--secondary-background);

    --glass-blur: blur( 4px );
    --glass-background: rgba(255,255,255,1);
    --glass-border: 1px solid rgba(255,255,255,1);

    --main-action-bg: var(--accent1);
    --main-action-color: var(--accent1-color);
    --main-action-hover-bg: var(--accent1-hover);
    --main-action-hover-color: var(--accent1-color);

    --secondary-action-bg: #f5f6f7;
    --secondary-action-color: var(--primary-font-color);
    --secondary-action-hover-bg: var(--accent2-hover);
    --secondary-action-hover-color: var(--accent2-color);

    --main-menu-link-bg: var(--secondary-background);
    --main-menu-link-color: var(--primary-font-color);

    --main-menu-link-hover-bg: rgba(250, 250, 250, 0.8);
    --main-menu-link-hover-color: var(--accent1);

    --main-menu-overlayed-link-hover-bg: rgba(255, 255, 255, 0.4);

    --main-menu-link-active-bg: rgba(220, 220, 220, 0.8);
    --main-menu-link-active-color: var(--accent1);

    --main-menu-border-color:var(--neutral);

    --project-selector-bg: var(--secondary-background);
    --project-selector-color: var(--primary-font-color);
    --project-selector-hover-bg: var(--primary-background);
    --project-selector-hover-color: var(--primary-font-color);

    --dropdown-link-bg:var(--secondary-background);
    --dropdown-link-color: var(--primary-font-color);
    --dropdown-link-hover-bg: var(--tab-active-background);
    --dropdown-link-hover-color: var(--primary-font-color);

    --input-background: #fff;

    --header-action-hover-color:var(--neutral);
    --header-bg-color:var(--accent1);
    --header-gradient:#f9fafb;
    --element-gradient:linear-gradient(135deg, var(--accent1) 20%,var(--accent2) 100%);

    --primary-font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;

    --font-size-xs: 10px;
    --font-size-s: 12px;
    --base-font-size: 14px;
    --font-size-m: var(--base-font-size);
    --font-size-l: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 20px;
    --font-size-xxxl: 24px;

    --main-border-color:rgba(240,240,240, 0.9);
    --main-border-color-hover:rgba(200,200,200, 0.9);
    --min-shadow: 0px 1px 2px rgba(0 0 0 / 5%), 0px 1px 1px 1px rgba(0 0 0 / 2%);
    --regular-shadow: 0px 0px 2px 0px rgba(0 0 0 / 20%), 0px 1px 1px 1px rgba(0 0 0 / 5%);
    --large-shadow: 0px 0px 10px 0px rgba(220,220,220, 0.5), 0px 2px 2px 1px rgba(220,220,220, 0.5);
    --box-radius-large:20px;
    --box-radius: 10px;
    --box-radius-small:5px;
    --element-radius: 15px;
    --input-radius: 15px;
    --input-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075);
    --input-padding: 4px 14px;
    --form-element-line-height: 22px;

    --kanban-col-bg: transparent;
    --kanban-col-title-bg: var(--col-title-bg);
    --kanban-col-title-color:var(--primary-font-color);
    --kanban-card-bg: #fff;
    --kanban-card-hover: rgba(240, 240, 240, 0.6);


    --accordion-header-bg: var(--secondary-action-bg);
    --accordion-header-radius: 5px;

    --interactive-icon-color: #777;

    --dark-red:#821219;
    --dark-red-text-color:#fff;

    --red: #BB1B25;
    --red-text-color: #fff;

    --green: #75BB1B;
    --green-text-color: #fff;

    --dark-green: #4B7811;
    --dark-green-text-color:#fff;

    --yellow: #fdab3d;
    --yellow-text-color: #fff;

    --blue: #1B75BB;
    --blue-text-color: #fff;

    --dark-blue:#124F7D;
    --dark-blue-text-color: #fff;

    --darker-blue:#082236;
    --darker-blue-text-color: #fff;

    --purple:#5F0F40;
    --purple-text-color:#fff;

    --magenta:#bb1b75;
    --purple-text-color:#fff;

    --pink: #F26CA7;
    --pink-text-color:#fff;

    --brown: #BB611B;
    --brown-text-color: #fff;

    --grey: #aaaaaa;
    --grey-text-color:#fff;

    --dark-grey: #4c4c4c;
    --dark-grey-text-color: #fff;

    --teal: #1bbbb1;
    --teal-text-color: #fff;

    --zlayer-1: 1; /*Background*/
    --zlayer-2: 5; /* Maincontentinnnter */
    --zlayer-3: 10; /* Element contentinner */
    --zlayer-4: 15; /* over element contentinnter (headlines, status) */
    --zlayer-5: 20; /* Highest layer on content inner (Filters) */
    --zlayer-6: 25; /* modal */
    --zlayer-7: 30; /* modal dropdowns*/
    --zlayer-8: 35; /* modal dialogs */
    --zlayer-9: 40; /* modal modals*/

    --transparencyLayer: transparent;

    --spacing-none: 0;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-base: 15px;
    --spacing-m: 15px;
    --spacing-l: 20px;
    --spacing-xl: 30px;

}

/* Main default overrides */

.mainwrapper .header {
    background:var(--header-bg-color);

}

.mainwrapper .rightpanel:before {
    opacity: .25;
}

.leftmenu .nav-tabs.nav-stacked .dropdown ul li a,
.pagetitle {
    text-shadow:1px 1px 3px rgba(255,255,255,0.9);
}

.pagetitle {
    text-shadow: 1px 1px 3px #fff;
}


.ss-option:hover {
    color: white;
    background-color: var(--accent1) !important;
}

.row .regLeft {
    background:var(--accent1);
}
