name: Psalm Static analysis

on: [push, pull_request]

jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Psalm
        uses: docker://vimeo/psalm-github-actions
        continue-on-error: true
        with:
           security_analysis: true
           report_file: results.sarif
           composer_require_dev: true
           composer_ignore_platform_reqs: false
           
      - name: Upload Security Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v1
        with:
           sarif_file: results.sarif
        
