name: Static Analysis

on:
  pull_request:
    branches: [ "master", "*.*.* ]

jobs:
  phpstan:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Run Tests
      run: make phpstan
